@charset "UTF-8";
/*載入檔案區*/
/*斷點設置*/
/*列印用*/
/*IE 11*/
/*chrome 不含safari*/
/*但edge opera也會運作*/
@media all and (-webkit-min-device-pixel-ratio: 0) and (-webkit-min-device-pixel-ratio: 0), all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  #selector {
    background-attachment: fixed;
  }
}
/*1640px*/
/*文字相關設定*/
/*文字單行+nowrap*/
/*文字基本設定*/
/*文字基本設定--標題英文*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0 0;
}

h1 {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  line-height: 1.6;
  letter-spacing: 0.5px;
  letter-spacing: 0px;
  font-size: 1.5rem;
  font-weight: 700;
}
@media all and (min-width: 48em) {
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
  }
}
@media all and (min-width: 64em) {
  h1 {
    font-size: 3.75rem;
    font-weight: 700;
  }
}

h2 {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-size: 2.13rem;
  font-weight: 700;
  letter-spacing: 1px;
}

h3 {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0px;
}

h4 {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 500;
}
h5 {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
  font-weight: 500;
}

h6 {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0px;
}

h6.typoEntit {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-size: 0.9375rem;
  font-weight: 300;
  letter-spacing: 0px;
}

p {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
}

.typo-chTit {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
@media all and (min-width: 48em) {
  .typo-chTit {
    font-size: 2.13rem;
    letter-spacing: 1.5px;
  }
}
@media all and (min-width: 116em) {
  .typo-chTit {
    font-size: 2.88rem;
  }
}

.typo-danger {
  color: #ff0220;
}

.typo-black {
  color: #131313;
}

.typo-underline {
  text-decoration: underline;
}

.typo-textAlignCenter {
  text-align: center;
}

/*基底通用設定*/
/*zdialog*/
.buttonStyle {
  width: 64px;
  height: 22px;
  line-height: 22px;
  color: #ad6c39;
  text-align: center;
  background: url(images/buticon.gif) no-repeat left top;
  border: 0.75em;
}
.buttonStyle:hover {
  background: url(images/buticon.gif) no-repeat left -23px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  line-height: 1.6;
  letter-spacing: 0.5px;
  transition: all 0.5s ease-in-out;
}

a {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
/*反白字體*/
::selection {
  background: #ff0220;
  color: #FFF;
}

/*按下無藍色框*/
/*無障礙focus用*/
/*scrollbar*/
::-webkit-scrollbar {
  width: 12px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: #ff0220;
}

::-webkit-scrollbar-track {
  background: #ffebed;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1161d;
}

/*進度條*/	
/*頁面框架及常用設定*/
.max-width--1640 {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
@media all and (min-width: 116em) {
  .max-width--1640 {
    width: 102.5em;
  }
}

.com-width {
  width: 100%;
  margin: 0 auto;
}
@media all and (min-width: 64em) {
  .com-width {
    width: 58em;
  }
}

.clear {
  clear: both;
}

.overflow-hidden {
  overflow: hidden;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.por {
  position: relative;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-60 {
  padding-left: 60px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-80 {
  padding-right: 80px;
}

.ptb-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ptb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.plr-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.plr-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.plr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mtb-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mtb-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mtb-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mtb-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mlr-3 {
  margin-left: 3px;
  margin-right: 3px;
}

.mlr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mlr-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mlr-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mlr-30 {
  margin-left: 30px;
  margin-right: 30px;
}

/*flex 排成一排列表*/
.phone-show {
  display: block;
}
@media all and (min-width: 64em) {
  .phone-show {
    display: none;
  }
}

/*列印隱藏區域*/
@media print {
  .print_hidden {
    display: none;
  }
}

.db {
  display: block;
}

.dn {
  display: none;
}

.of-hidden {
  overflow: hidden;
}

.hidden-x {
  overflow-x: hidden;
}

.marginAuto {
  margin: 0 auto;
}

/*照片跟比例外框--以fb網址連結建議尺寸1200*630的尺寸比例*/
.baseImgBk {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 52.5%;
  overflow: hidden;
}

.eleImgBk-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  line-height: 0;
}

/*youtube影片比例以及封面高度*/
/*解析度為1280x720 (寬度至少為640 像素)。 以JPG、GIF 或PNG 等圖片格式上傳。 大小不得超過2 MB*/
.baseVideoBk {
  width: 100%;
  height: 100%;
  position: relative;
  /*padding top跟 bottom 的高度都是依據width來計算比例*/
  padding-bottom: 56%;
  overflow: hidden;
}
.baseVideoBk iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*文字超出兩行出現刪節號*/
/*按鈕部件*/
/*按鈕設置*/
/*第一款 基本大按鈕*/
.fieLine {
  width: 100%;
  height: 1px;
  background: #d1e5d2;
}

.fidArea, .fidArea--cheRad {
  width: 100%;
  padding: 0 30px 30px 30px;
}

.fidArea label {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei" !important;
  font-size: 1.0625rem !important;
  font-weight: 600 !important;
  color: #131313 !important;
  margin: 0 0 15px 0 !important;
}

.fidArea--nogutter {
  width: 100%;
  padding: 0 0 30px 0;
}

.fidArea--50 {
  width: 100%;
}
@media all and (min-width: 48em) {
  .fidArea--50 {
    width: 100%;
    float: left;
    clear: none !important;
  }
}
@media all and (min-width: 64em) {
  .fidArea--50 {
    width: 50%;
  }
}

.fidArea--100 {
  width: 100%;
}
@media all and (min-width: 48em) {
  .fidArea--100 {
    width: 100%;
    clear: none !important;
  }
}
.fidArea--33 {
  width: 100%;
}
@media all and (min-width: 48em) {
  .fidArea--33 {
    width: 100%;
    float: left;
    clear: none !important;
  }
}
@media all and (min-width: 64em) {
  .fidArea--33 {
    width: 50%;
  }
}
@media all and (min-width: 90em) {
  .fidArea--33 {
    width: 33%;
  }
}

.fidArea--25 {
  width: 100%;
}
@media all and (min-width: 48em) {
  .fidArea--25 {
    width: 100%;
    float: left;
    clear: none !important;
  }
}
@media all and (min-width: 64em) {
  .fidArea--25 {
    width: 50%;
  }
}
@media all and (min-width: 116em) {
  .fidArea--25 {
    width: 25%;
  }
}

.fidArea--20 {
  width: 100%;
}
@media all and (min-width: 48em) {
  .fidArea--20 {
    width: 100%;
    float: left;
    clear: none !important;
  }
}
@media all and (min-width: 64em) {
  .fidArea--20 {
    width: 50%;
  }
}
@media all and (min-width: 116em) {
  .fidArea--20 {
    width: 20%;
  }
}

.fidArea .fidArea--img {
  width: 100%;
  height: auto;
  border: 1px solid #d1e5d2;
}

.ui.form .field {
  margin: 0 0 0 0;
}

.fieverti {
  padding: 0 0 0 15px !important;
  color: #ff0220;
}

@media all and (min-width: 64em) {
  .field--btnPosition {
    padding-top: 32px;
  }
}

/*checkbox radio 使用樣式*/
.fidArea--cheRad {
  width: auto !important;
  float: left !important;
  clear: none !important;
  padding-bottom: 0 !important;
  padding-top: 10px !important;
}

.fidArea-radioCheck--tit {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei" !important;
  font-size: 1.0625rem !important;
  font-weight: 600 !important;
  color: #131313 !important;
  margin: 30px 0 10px 0 !important;
  padding-left: 30px;
  padding-right: 30px;
}

.fidArea--cheRad label {
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei" !important;
  font-size: 1.0625rem !important;
  font-weight: 500 !important;
  color: #131313 !important;
  margin: 0 0 0 0 !important;
}

/*表格區塊*/
.ui.selection.dropdown {
  width: 100% !important;
  height: 50px !important;
  border-radius: 0px !important;
  border: 1px solid #d1e5d2 !important;
  line-height: 50px !important;
  padding: 0 30px !important;
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei" !important;
  font-size: 1.125rem !important;
  color: #131313 !important;
  transition: all 0.5s linear !important;
}
.ui.selection.dropdown:hover {
  border: 1px solid #ff0220 !important;
}
.ui.selection.dropdown:focus {
  border: 1px solid #ff0220 !important;
}
.ui.selection.dropdown .menu .item {
  line-height: 1.5 !important;
}

.ui.dropdown:not(.button) > .default.text, .ui.default.dropdown:not(.button) > .text {
  color: #868686 !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  width: 100% !important;
  font-weight: 600 !important;
}

.ui.selection.dropdown .menu {
  border-radius: 0 0 6px 6px !important;
}

.ui.form .field input, .ui.form .field input[type=text], .ui.form .field input[type=number], .ui.form .field input[type=email], .ui.form .field input[type=password], .ui.form .field select {
  height: 50px;
  border-radius: 0px !important;
  border: 1px solid #d1e5d2 !important;
  line-height: 50px !important;
  padding: 0 30px !important;
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei" !important;
  font-size: 1.125rem !important;
  color: #131313 !important;
  transition: all 0.3s linear !important;
  overflow: hidden !important;
}
.ui.form .field input:hover, .ui.form .field input[type=text]:hover, .ui.form .field input[type=number]:hover, .ui.form .field input[type=email]:hover, .ui.form .field input[type=password]:hover, .ui.form .field select:hover {
  border: 1px solid #ff0220 !important;
}
.ui.form .field input:focus, .ui.form .field input[type=text]:focus, .ui.form .field input[type=number]:focus, .ui.form .field input[type=email]:focus, .ui.form .field input[type=password]:focus, .ui.form .field select:focus {
  border: 1px solid #ff0220 !important;
}
.ui.form .field input::-webkit-input-placeholder, .ui.form .field input[type=text]::-webkit-input-placeholder, .ui.form .field input[type=number]::-webkit-input-placeholder, .ui.form .field input[type=email]::-webkit-input-placeholder, .ui.form .field input[type=password]::-webkit-input-placeholder, .ui.form .field select::-webkit-input-placeholder {
  color: #868686 !important;
}
.ui.form .field input::-moz-placeholder, .ui.form .field input[type=text]::-moz-placeholder, .ui.form .field input[type=number]::-moz-placeholder, .ui.form .field input[type=email]::-moz-placeholder, .ui.form .field input[type=password]::-moz-placeholder, .ui.form .field select::-moz-placeholder {
  color: #868686 !important;
}
.ui.form .field input:-ms-input-placeholder, .ui.form .field input[type=text]:-ms-input-placeholder, .ui.form .field input[type=number]:-ms-input-placeholder, .ui.form .field input[type=email]:-ms-input-placeholder, .ui.form .field input[type=password]:-ms-input-placeholder, .ui.form .field select:-ms-input-placeholder {
  color: #868686 !important;
}
.ui.form .field input:-moz-placeholder, .ui.form .field input[type=text]:-moz-placeholder, .ui.form .field input[type=number]:-moz-placeholder, .ui.form .field input[type=email]:-moz-placeholder, .ui.form .field input[type=password]:-moz-placeholder, .ui.form .field select:-moz-placeholder {
  color: #868686 !important;
}
.ui.form .field textarea {
  width: 100% !important;
  height: 150px !important;
  border-radius: 0px !important;
  border: 1px solid #d1e5d2 !important;
  line-height: 1.5 !important;
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei" !important;
  font-size: 1.125rem !important;
  font-weight: 600 !important;
  color: #131313 !important;
  transition: all 0.3s linear !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  resize: none !important;
}
.ui.form .field textarea:hover {
  border: 1px solid #ff0220 !important;
}
.ui.form .field textarea:focus {
  border: 1px solid #ff0220 !important;
}
.ui.form .field textarea::-webkit-input-placeholder {
  color: #868686 !important;
}
.ui.form .field textarea::-moz-placeholder {
  color: #868686 !important;
}
.ui.form .field textarea:-ms-input-placeholder {
  color: #868686 !important;
}
.ui.form .field textarea:-moz-placeholder {
  color: #868686 !important;
}
.ui.form .field input[type=checkbox], .ui.form .field input[type=radio] {
  padding-left: 30px !important;
}
.ui.form .field input[type=checkbox]:hover, .ui.form .field input[type=radio]:hover {
  border: 1px solid #ff0220 !important;
}
.ui.form .field input[type=checkbox]:focus, .ui.form .field input[type=radio]:focus {
  border: 1px solid #ff0220 !important;
}

.ui.checkbox input:not([type=radio]):indeterminate:focus ~ .box:before, .ui.checkbox input:not([type=radio]):indeterminate:focus ~ label:before, .ui.checkbox input:checked:focus ~ .box:before, .ui.checkbox input:checked:focus ~ label:before {
  border-color: #ff0220 !important;
}

.ui.fluid.dropdown {
  height: 50px !important;
  line-height: auto !important;
}

.ui.multiple.dropdown > .label {
  vertical-align: middle;
}

/*自定義checkbox 及 radio 樣式*/
/*元素*/
.eleLineBt {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  z-index: 5;
  transition: all 0.3s ease;
}
@media all and (min-width: 48em) {
  .eleLineBt {
    bottom: 30px;
    right: 40px;
  }
}
@media all and (min-width: 116em) {
  .eleLineBt {
    bottom: 20px;
  }
}
.eleLineBt:hover, .eleLineBt:active {
  transform: scale(1.05);
}

.eleLineBt-man {
  width: 75px;
  height: 75px;
  position: relative;
  z-index: 1;
  background: #ffebed;
  border: 3px solid #FFF;
  border-radius: 50%;
  opacity: 0;
}
@media all and (min-width: 48em) {
  .eleLineBt-man {
    width: 90px;
    height: 90px;
  }
}
@media all and (min-width: 116em) {
  .eleLineBt-man {
    width: 110px;
    height: 110px;
  }
}

.eleLineBt-dia {
  width: 90px;
  height: auto;
  position: absolute;
  z-index: 2;
  top: -60px;
  right: 5px;
  opacity: 0;
}
@media all and (min-width: 48em) {
  .eleLineBt-dia {
    width: 110px;
    top: -70px;
  }
}
@media all and (min-width: 116em) {
  .eleLineBt-dia {
    width: 135px;
    top: -90px;
  }
}

.eleTitCh {
  font-size: 1.25rem;
  font-weight: 700;
  color: #131313;
}
@media all and (min-width: 90em) {
  .eleTitCh {
    font-size: 1.88rem;
  }
}

.eleTitEn {
  font-size: 0.9375rem;
  font-family: "Carter One", cursive;
  color: #ff0220;
}
@media all and (min-width: 90em) {
  .eleTitEn {
    font-size: 1.25rem;
  }
}

.eleArticleList {
  width: 100%;
  margin-bottom: 70px;
  padding: 0 20px;
}
@media all and (min-width: 48em) {
  .eleArticleList {
    width: 50%;
    float: left;
  }
}
@media all and (min-width: 90em) {
  .eleArticleList {
    width: 25%;
    margin-bottom: 80px;
  }
}

.eleArticleList-label {
  width: auto;
  display: inline-block;
  background: #ff0220;
  font-size: 1rem;
  color: #FFF;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.eleArticleList-imgBk {
  display: block;
}
.eleArticleList-imgBk:hover, .eleArticleList-imgBk:active {
  transform: scale(1.03);
}

.eleArticleList-textBk {
  margin-top: 30px;
}
@media all and (min-width: 48em) {
  .eleArticleList-textBk {
    margin-top: 40px;
  }
}

.eleArticleList-textBk--tit {
  letter-spacing: 0.5px;
  padding: 0 2px;
  font-size: 1.125rem;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media all and (min-width: 48em) {
  .eleArticleList-textBk--tit {
    font-size: 1.38rem;
    margin-bottom: 20px;
    min-height: 75px;
  }
}
.eleArticleList-textBk--tit:hover, .eleArticleList-textBk--tit:active {
  color: #ff0220;
}

.eleArticleList-textBk--date {
  font-size: 0.9375rem;
  font-family: "Carter One", cursive;
  color: #ff0220;
}
@media all and (min-width: 48em) {
  .eleArticleList-textBk--date {
    font-size: 1.125rem;
  }
}

.eleArticleList-textBk--text {
  margin-top: 25px;
  letter-spacing: 0.5px;
  line-height: 1.7;
  color: #868686;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media all and (min-width: 48em) {
  .eleArticleList-textBk--text {
    min-height: 85px;
  }
}
/*麵包屑*/
.eleBite {
  width: 100%;
  cursor: pointer;
}
.eleBite-link {
  letter-spacing: 0.5px;
  line-height: 1;
  padding-bottom: 3px;
  font-size: 0.88em;
}
@media all and (min-width: 48em) {
  .eleBite-link {
    font-size: 1rem;
  }
}
.eleBite-link:hover, .eleBite-link:active {
  color: #ff0220;
}
.eleBite-link::after {
  content: url(../images/arrow-right-icon.svg);
  width: 18px;
  height: 18px;
  vertical-align: -6px;
}
.eleBite-link:last-of-type::after {
  display: none;
}

/*跳頁按鈕*/
.eleSelPageBk {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.eleSelPageArrow {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  vertical-align: -5px;
}

.eleSelPageArrow--left {
  background: url(../images/arrow-left-icon.svg) no-repeat;
  margin-right: 5px;
}
.eleSelPageArrow--left:hover {
  transform: scale(1.1) translateX(-5px);
}

.eleSelPageArrow--right {
  background: url(../images/arrow-right-icon.svg) no-repeat;
  margin-left: 5px;
}
.eleSelPageArrow--right:hover {
  transform: scale(1.1) translateX(5px);
}

.eleSelPageCount {
  width: 38px;
  height: 38px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 37px;
  font-size: 1rem;
  font-weight: 600;
}
.eleSelPageCount:hover {
  background: white;
  color: #ff0220;
}

.eleSelPageCount--pageIn {
  background: #ff0220;
  color: #FFF;
}

.eleLabel {
  width: auto;
  display: inline-block;
  background: #ff0220;
  font-size: 1rem;
  color: #FFF;
  padding: 5px 10px;
  letter-spacing: 1px;
}

.eleDate {
  font-size: 0.9375rem;
  font-family: "Carter One", cursive;
  color: #ff0220;
}
@media all and (min-width: 48em) {
  .eleDate {
    font-size: 1.125rem;
  }
}

/*附件下載列表*/
.eleDownloadList {
  display: block;
  background: #ffebed;
  border: 2px solid #ff0220;
  position: relative;
  padding: 20px 20px 20px 20px;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.6;
  margin-top: -2px;
}
@media all and (min-width: 48em) {
  .eleDownloadList {
    font-size: 1.25rem;
    padding: 25px 25px 25px 40px;
  }
}
.eleDownloadList:hover {
  color: #ff0220;
}

/*loghtbox 模組*/
/* Unopened modLightbox */
.modLightbox {
  display: none;
  transform: all 1s linear;
  opacity: 0;
}

/* Opened modLightbox */
.modLightbox:target {
  opacity: 1;
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(74, 74, 74, 0.7);
}

/* modLightbox content */
.modLightbox-contentBk {
  width: calc(100vw - 40px);
  height: 80vh;
  background: #fef6c3;
  border-radius: 20px;
}
@media all and (min-width: 90em) {
  .modLightbox-contentBk {
    width: 500px;
  }
}

.modLightbox-content {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  z-index: 8;
}

/* Close button */
.modLightbox-close {
  position: relative;
  display: block;
}

.modLightbox-close::after {
  right: 10px;
  top: 17px;
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  z-index: 9;
  align-items: center;
  justify-content: center;
  color: #131313;
  content: "✕";
  cursor: pointer;
}

/* modLightbox overlay */
.modLightbox-close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  content: "";
  cursor: default;
}

/*回頁面最上方*/
.modTopBtBk {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 3;
  display: none;
}
@media all and (min-width: 90em) {
  .modTopBtBk {
    display: block;
    bottom: 20px;
    right: 30px;
  }
}
.modTopBtBk:hover {
  transform: translateY(-15px);
}

.modTopBt {
  width: 40px;
}

.patLoadingBg {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 3;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #ffebed url(../images/bannerBg.svg) no-repeat;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.patLoadingBg-logoLink:hover img, .patLoadingBg-logoLink:active img {
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.patLoadingBg-logo {
  width: 220px;
  opacity: 0;
  position: fixed;
  z-index: 5;
  left: calc(50% - 110px);
  top: calc(50vh - 60px);
}
@media all and (min-width: 48em) {
  .patLoadingBg-logo {
    left: calc(50% - 120px);
    top: calc(50vh - 80px);
  }
}

.patLoadingBg-logo--page {
  width: 110px;
  opacity: 1;
  position: fixed;
  z-index: 4;
  top: 15px;
  left: 20px;
}
@media all and (min-width: 48em) {
  .patLoadingBg-logo--page {
    width: 180px;
    top: 30px;
    left: 30px;
  }
}
@media all and (min-width: 90em) {
  .patLoadingBg-logo--page {
    width: 200px;
    top: 40px;
    left: 100px;
    z-index: 5;
  }
}
@media all and (min-width: 116em) {
  .patLoadingBg-logo--page {
    width: 220px;
    top: 40px;
    left: 130px;
  }
}

.patLoadingBg-ele01 {
  width: 140px;
  opacity: 0;
  position: fixed;
  z-index: 5;
  left: 58%;
  top: 27%;
  transform: scale(0);
}
@media all and (min-width: 25.8em) {
  .patLoadingBg-ele01 {
    left: 58%;
    top: 29%;
  }
}
@media all and (min-width: 48em) {
  .patLoadingBg-ele01 {
    width: 190px;
    left: 58%;
    top: 29%;
  }
}
@media all and (min-width: 90em) {
  .patLoadingBg-ele01 {
    left: 54%;
    top: 29%;
  }
}

.patLoadingBg-aniBk {
  width: 100%;
  text-align: center;
  padding: 0 12px 0 0;
}

.patLoadingBg-aniBk--dot {
  width: 25px;
  height: 25px;
  background: #FFF;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  opacity: 1;
  transform: scale(0);
}

.patLoadingBg-aniBk--dot--none {
  opacity: 0;
  transform: scale(1);
}

.patSmlHeader {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  opacity: 0;
}
@media all and (min-width: 90em) {
  .patSmlHeader {
    display: none;
  }
}

.patSmlHeader-logo {
  display: inline-block;
  margin: 10px auto 0 20px;
}
.patSmlHeader-logo img {
  width: 160px;
}

.patSmlHeader-navbt {
  width: 50px;
  height: 50px;
  cursor: pointer;
  float: right;
  position: relative;
  background: #131313;
}

.patSmlHeader-navbt--icon {
  width: 22px;
  left: 14px;
  height: 3px;
  position: absolute;
  background: #FFF;
  transition: all 0.5s ease-in-out;
}

.patSmlHeader-navbt--icon01 {
  top: 18px;
  transition: all 0.5s ease-in-out;
}

.patSmlHeader-navbt--icon02 {
  top: 28px;
  transition: all 0.3s ease-in-out;
}

.patSmlHeader-navbt--icon01--rotate {
  transform: rotate(-45deg);
  top: 23px;
}

.patSmlHeader-navbt--icon02--rotate {
  transform: rotate(45deg);
  top: 23px;
}

.patSmlNav {
  opacity: 0;
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -320px;
  z-index: 5;
  overflow-y: auto;
  padding: 30px 0;
  background: #ff0220;
}

.patSmlNav-closeBt {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.patSmlNav-layer {
  background: #131313;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
}

.patLevelArea {
  width: 100%;
}

.patLevelArea-firstLink {
  width: 100%;
  display: block;
  height: auto;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.7;
  transition: all 0.1s ease-out;
  letter-spacing: 1px;
  position: relative;
  color: #FFF;
  padding: 0 0 20px 40px;
}

.patLevelArea-secondLinkArea {
  display: none;
  padding: 0px 20px 15px 75px;
}
.patLevelArea-secondLinkArea .patLevelArea-secondLinkArea--link {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
  padding: 0px 0px 12px 0;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #ffdfd7;
}

.patheaderBk {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  justify-content: center;
  flex-wrap: nowrap;
  display: none;
  padding: 40px 0 0 0;
  transition: all 0.5s ease-in-out;
}
@media all and (min-width: 90em) {
  .patheaderBk {
    display: flex;
    opacity: 0;
  }
}

.patheaderLevelArea {
  position: relative;
}

.patheaderLevelArea-firstlink {
  min-width: 190px;
  padding: 0 30px 10px 30px;
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  color: #131313;
  letter-spacing: 1px;
  text-align: center;
}
.patheaderLevelArea-firstlink .icon {
  display: inline-block;
  margin-left: 12px;
  vertical-align: -6px;
  transition: all 0.5s linear;
}
.patheaderLevelArea-firstlink:hover, .patheaderLevelArea-firstlink:active {
  color: #ff0220;
}

.patheaderLevelArea-secondLinkArea {
  display: none;
  width: 260px;
  position: absolute;
  top: 50px;
  left: 30px;
  padding: 20px 15px 10px 12px;
  background: #FFF;
  border: 2px solid #ff0220;
}

.patheaderLevelArea-secondLinkArea--link {
  display: block;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.7;
  padding: 0px 0px 15px 0;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #131313;
}
.patheaderLevelArea-secondLinkArea--link mark {
  color: #ff0220;
  background: #FFF;
  padding: 0 10px 0 0;
}
.patheaderLevelArea-secondLinkArea--link:hover, .patheaderLevelArea-secondLinkArea--link:active {
  color: #ff0220;
}

.patheaderBk--scrollStyle {
  background: white;
  width: 100%;
  height: 90px;
  padding: 30px 0 0 0;
  transition: all 0.5s ease-in-out;
}

.patFooter {
  width: 100%;
  text-align: center;
  padding: 80px 0;
}

.patFooter-logo {
  width: 230px;
  display: inline-block;
}
.patFooter-logo:hover, .patFooter-logo:active {
  transform: scale(1.1);
}

.patFooter-infoBk {
  margin: 50px 0 80px 0px;
  text-align: center;
  line-height: 1.7;
}

.patFooter-infoBk--copyRight {
  letter-spacing: 0.5px;
  color: #adadad;
  font-size: 0.9375rem;
  font-family: "Carter One", cursive;
}

.patFooter-infoBk--design {
  letter-spacing: 0.5px;
  font-size: 0.9375rem;
  font-family: "Carter One", cursive;
  color: #ff0220;
}
.patFooter-infoBk--design:hover, .patFooter-infoBk--design:active {
  box-shadow: inset 0 -3em #ff0220;
  color: #FFF;
  padding: 3px 5px;
}
.patFooter-infoBk--design:hover mark, .patFooter-infoBk--design:active mark {
  color: #FFF;
}
.patFooter-infoBk--design mark {
  box-shadow: inset 0 -0.03em #ff0220;
  color: #ff0220;
  background: none;
  transition: all 0.5s linear;
  padding: 2px 5px;
}

.patFooter-mediaBk {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.patFooter-mediaBk--btStyle {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: #ff0220;
  margin: 0 8px;
  display: block;
  display: flex;
  justify-content: center;
}
.patFooter-mediaBk--btStyle:hover, .patFooter-mediaBk--btStyle:active {
  transform: scale(1.05);
}
.patFooter-mediaBk--btStyle img {
  text-align: center;
  width: 38px;
}

.patPageRedWhiteBg {
  width: 100%;
  height: 100vh;
  background: #ffebed;
  position: absolute;
  z-index: 10;
}

.patPageContentWidth {
  width: 100%;
  padding: 0px 35px 0 35px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
@media all and (min-width: 48em) {
  .patPageContentWidth {
    padding: 0px 60px 0 60px;
  }
}
@media all and (min-width: 64em) {
  .patPageContentWidth {
    padding: 0px 60px 0 60px;
  }
}
@media all and (min-width: 90em) {
  .patPageContentWidth {
    padding: 0px 100px 0 100px;
  }
}
@media all and (min-width: 116em) {
  .patPageContentWidth {
    padding: 0px 0px 0px 0px;
  }
}

.patPageBannerBk {
  position: relative;
  z-index: 1;
}

.patPageBanner-bg {
  width: 540px;
  position: absolute;
  z-index: -1;
  left: 40px;
  top: 100px;
}
@media all and (min-width: 48em) {
  .patPageBanner-bg {
    width: 800px;
    left: 0px;
    top: 120px;
  }
}
@media all and (min-width: 64em) {
  .patPageBanner-bg {
    left: 200px;
    top: 140px;
  }
}
@media all and (min-width: 116em) {
  .patPageBanner-bg {
    width: 930px;
    left: 300px;
    top: 190px;
  }
}

.patPageComic {
  width: 100%;
  position: relative;
  padding: 40px 0 0 0;
  line-height: 0;
}
@media all and (min-width: 48em) {
  .patPageComic {
    padding: 60px 0 0 0;
  }
}
@media all and (min-width: 64em) {
  .patPageComic {
    width: 70%;
    left: 30%;
    padding: 50px 0 0 0;
  }
}
@media all and (min-width: 116em) {
  .patPageComic {
    padding: 40px 0 0 0;
  }
}

.patPageComic-img {
  width: 240px;
  position: relative;
  z-index: 1;
  margin-left: calc(50% - 100px);
}
@media all and (min-width: 48em) {
  .patPageComic-img {
    width: 340px;
    margin-left: calc(50% - 170px);
  }
}
@media all and (min-width: 64em) {
  .patPageComic-img {
    margin-left: calc(50% - 100px);
    top: 70px;
  }
}
@media all and (min-width: 116em) {
  .patPageComic-img {
    width: 510px;
    margin-left: calc(50% - 120px);
  }
}

.patPageComic-diaStyle {
  display: inline-block;
  width: auto;
  padding: 10px 12px;
  background: #FFF;
  border: 3px solid #131313;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
@media all and (min-width: 48em) {
  .patPageComic-diaStyle {
    font-size: 1.125rem;
    padding: 15px 25px;
  }
}
@media all and (min-width: 90em) {
  .patPageComic-diaStyle {
    font-size: 1.25rem;
  }
}
@media all and (min-width: 116em) {
  .patPageComic-diaStyle {
    font-size: 1.5rem;
    line-height: 1.7;
    padding: 25px 40px;
  }
}

.patPageComic-diaStyle--style01 {
  position: absolute;
  z-index: 2;
  top: 120px;
  left: -10px;
}
@media all and (min-width: 48em) {
  .patPageComic-diaStyle--style01 {
    top: 170px;
    left: 0px;
  }
}
@media all and (min-width: 64em) {
  .patPageComic-diaStyle--style01 {
    left: 60px;
    top: 100px;
  }
}
@media all and (min-width: 116em) {
  .patPageComic-diaStyle--style01 {
    top: 240px;
    left: 170px;
  }
}

.patPageComic-diaStyle--style02 {
  position: absolute;
  z-index: 2;
  top: 200px;
  right: -10px;
}
@media all and (min-width: 48em) {
  .patPageComic-diaStyle--style02 {
    top: 270px;
    right: 0px;
  }
}
@media all and (min-width: 64em) {
  .patPageComic-diaStyle--style02 {
    top: 340px;
    right: 0px;
  }
}
@media all and (min-width: 116em) {
  .patPageComic-diaStyle--style02 {
    top: 460px;
    right: 20px;
  }
}

.patRedTop-bg {
  position: absolute;
  width: 100%;
  height: 220px;
  background: #ffebed;
  z-index: 3;
}
@media all and (min-width: 48em) {
  .patRedTop-bg {
    height: 270px;
  }
}
@media all and (min-width: 90em) {
  .patRedTop-bg {
    height: 370px;
  }
}

.patPageTitBiteBk {
  width: 100%;
  border: 2px solid #ff0220;
  background: #FFF;
  padding: 20px 25px;
}
@media all and (min-width: 64em) {
  .patPageTitBiteBk {
    width: 440px;
    padding: 30px 40px;
  }
}
@media all and (min-width: 90em) {
  .patPageTitBiteBk {
    padding: 40px 50px;
  }
}
@media all and (min-width: 116em) {
  .patPageTitBiteBk {
    width: 540px;
  }
}

.patPageTitBiteBk--twoColumn {
  margin: 100px auto 60px auto;
  position: relative;
  z-index: 2;
}
@media all and (min-width: 48em) {
  .patPageTitBiteBk--twoColumn {
    margin: 160px auto 60px auto;
  }
}
@media all and (min-width: 90em) {
  .patPageTitBiteBk--twoColumn {
    width: 440px;
    margin: 250px 0 0px 0;
    float: left;
  }
}
@media all and (min-width: 116em) {
  .patPageTitBiteBk--twoColumn {
    width: 540px;
  }
}

.patTwoColumnBk {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: flex-start;
}
@media all and (min-width: 90em) {
  .patTwoColumnBk {
    width: 100%;
    flex-direction: row;
  }
}

.patTwoColumnBk-contentBk {
  margin: 0 0 80px 0;
}
@media all and (min-width: 90em) {
  .patTwoColumnBk-contentBk {
    width: calc(100% - 440px);
    margin: -340px 0 80px 0;
    padding-left: 60px;
  }
}
@media all and (min-width: 116em) {
  .patTwoColumnBk-contentBk {
    width: calc(100% - 540px);
    padding-left: 140px;
  }
}

.patTwoColumnBk-sidebarBk {
  width: 100%;
  background: #ff0220;
  padding: 10px 30px 10px 30px;
}
@media all and (min-width: 90em) {
  .patTwoColumnBk-sidebarBk {
    width: 440px;
    padding: 20px 50px 20px 50px;
    margin-top: 20px;
  }
}
@media all and (min-width: 116em) {
  .patTwoColumnBk-sidebarBk {
    width: 540px;
    padding: 20px 40px 20px 50px;
  }
}

.patSidebarBk-tit {
  color: #ffbfb0;
}
@media all and (min-width: 90em) {
  .patSidebarBk-tit {
    display: none;
  }
}

.patSidebarBk-link {
  display: flex;
  justify-content: center;
  padding: 20px 0 15px 0;
  border-bottom: 1px solid #ff7b66;
}
.patSidebarBk-link:hover .patSidebarBk-link--tit, .patSidebarBk-link:active .patSidebarBk-link--tit {
  color: #FFF;
}
.patSidebarBk-link:last-of-type {
  border-bottom: none;
}

.patSidebarBk-link--number {
  width: 50px;
  font-size: 1.5rem;
  font-family: "Carter One", cursive;
  color: #ff7b66;
}

.patSidebarBk-link--tit {
  width: calc(100% - 50px);
  color: #ffdfd7;
  line-height: 1.7;
  letter-spacing: 0.5px;
  transition: all 0.5s linear;
  font-size: 1.125rem;
}
@media all and (min-width: 90em) {
  .patSidebarBk-link--tit {
    font-size: 1.25rem;
  }
}

.patSidebarBk-link--active .patSidebarBk-link--number {
  color: #ffbfb0;
}
.patSidebarBk-link--active .patSidebarBk-link--tit {
  color: #FFF;
}

/*首頁*/
.indComicBk {
  position: relative;
  z-index: 3;
  padding: 60px 35px 0 35px;
}
@media all and (min-width: 48em) {
  .indComicBk {
    padding: 80px 60px 0 60px;
  }
}
@media all and (min-width: 64em) {
  .indComicBk {
    padding: 100px 60px 0 60px;
  }
}
@media all and (min-width: 90em) {
  .indComicBk {
    padding: 110px 100px 0 100px;
  }
}
@media all and (min-width: 116em) {
  .indComicBk {
    padding: 110px 90px 0 90px;
  }
}

.indComic-frameStyle {
  border: 1px solid #ff0220;
  background: #FFF;
  margin-bottom: 12px;
  position: relative;
  opacity: 0;
  overflow: hidden;
}
@media all and (min-width: 48em) {
  .indComic-frameStyle {
    margin-bottom: 20px;
  }
}

.indComic-frameStyle--number {
  width: 22px;
  height: 22px;
  background: #ff0220;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 20px;
  text-align: center;
  font-size: 0.88em;
  font-weight: 700;
  color: #fff;
}

.indComic-narrBk {
  position: relative;
  z-index: 2;
  top: -120px;
  left: -10px;
  opacity: 0;
}
@media all and (min-width: 64em) {
  .indComic-narrBk {
    top: -230px;
    left: 60px;
  }
}
@media all and (min-width: 90em) {
  .indComic-narrBk {
    top: 480px;
    left: -40px;
  }
}
@media all and (min-width: 116em) {
  .indComic-narrBk {
    top: 550px;
    left: -70px;
  }
}

.indComic-narrStyle {
  width: 220px;
  height: 145px;
  padding: 20px 0px 20px 25px;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.6;
  position: absolute;
  z-index: 2;
  background: #FFF;
  border: 3px solid #131313;
}
@media all and (min-width: 48em) {
  .indComic-narrStyle {
    width: 245px;
    height: 160px;
    padding: 22px 0px 20px 30px;
    font-size: 1.38rem;
    font-weight: 500;
  }
}
@media all and (min-width: 90em) {
  .indComic-narrStyle {
    width: 280px;
    height: 185px;
    padding: 25px 0px 20px 30px;
    font-size: 1.63rem;
    font-weight: 500;
  }
}
@media all and (min-width: 116em) {
  .indComic-narrStyle {
    width: 345px;
    height: 230px;
    padding: 35px 0px 20px 40px;
    font-size: 2rem;
    font-weight: 500;
  }
}

.indComic-narrStyle--shadow {
  display: block;
  z-index: 1;
  top: 9px;
  left: -9px;
  background: #FFF;
}
@media all and (min-width: 64em) {
  .indComic-narrStyle--shadow {
    top: 10px;
    left: -10px;
  }
}
@media all and (min-width: 116em) {
  .indComic-narrStyle--shadow {
    top: 13px;
    left: -13px;
  }
}

.indComic-frame01 {
  width: 100%;
  height: 400px;
}
@media all and (min-width: 48em) {
  .indComic-frame01 {
    height: 400px;
  }
}
@media all and (min-width: 64em) {
  .indComic-frame01 {
    width: 100%;
    height: 370px;
  }
}
@media all and (min-width: 90em) {
  .indComic-frame01 {
    float: left;
    height: 720px;
    width: calc(50% - 15px);
    margin-right: 15px;
  }
}
@media all and (min-width: 116em) {
  .indComic-frame01 {
    height: 760px;
  }
}

.indComic-frame01--manImg {
  width: 225px;
  position: absolute;
  z-index: 1;
  right: 0px;
  bottom: 0px;
}
@media all and (min-width: 48em) {
  .indComic-frame01--manImg {
    width: 300px;
    right: 70px;
    bottom: -70px;
  }
}
@media all and (min-width: 64em) {
  .indComic-frame01--manImg {
    right: 100px;
    bottom: -80px;
  }
}
@media all and (min-width: 90em) {
  .indComic-frame01--manImg {
    width: 380px;
    right: 35px;
    bottom: 0px;
  }
}
@media all and (min-width: 116em) {
  .indComic-frame01--manImg {
    width: 440px;
    right: 40px;
    bottom: 0px;
  }
}

.indComic-frame01--diaImg {
  width: 135px;
  position: absolute;
  z-index: 2;
  left: 15px;
  top: 50px;
}
@media all and (min-width: 48em) {
  .indComic-frame01--diaImg {
    width: 220px;
    left: 90px;
    top: 45px;
  }
}
@media all and (min-width: 64em) {
  .indComic-frame01--diaImg {
    left: 300px;
    top: 20px;
  }
}
@media all and (min-width: 90em) {
  .indComic-frame01--diaImg {
    width: 250px;
    left: 40px;
    top: 120px;
  }
}
@media all and (min-width: 116em) {
  .indComic-frame01--diaImg {
    width: 300px;
    top: 80px;
    left: 50px;
  }
}

.indComic-frame02 {
  width: 100%;
  height: 370px;
}
@media all and (min-width: 48em) {
  .indComic-frame02 {
    height: 300px;
  }
}
@media all and (min-width: 64em) {
  .indComic-frame02 {
    width: calc(50% - 10px);
    height: 420px;
    margin: 0 10px 0 0;
    float: left;
  }
}
@media all and (min-width: 90em) {
  .indComic-frame02 {
    width: calc(50% - 15px);
    height: 350px;
    margin: 0 0 20px 15px;
  }
}
@media all and (min-width: 116em) {
  .indComic-frame02 {
    height: 370px;
  }
}

.indComic-frame02--manImg {
  position: absolute;
  z-index: 2;
  width: 240px;
  left: 25px;
  bottom: 0px;
}
@media all and (min-width: 48em) {
  .indComic-frame02--manImg {
    width: 300px;
    left: 100px;
  }
}
@media all and (min-width: 90em) {
  .indComic-frame02--manImg {
    width: 340px;
    left: 30px;
  }
}
@media all and (min-width: 116em) {
  .indComic-frame02--manImg {
    width: 390px;
  }
}

.indComic-frame02--diaImg {
  width: 190px;
  height: 300px;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 50px;
  background: url(../images/ele014.svg) no-repeat;
  background-size: 100% auto;
  padding: 30px 0 0 30px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
@media all and (min-width: 48em) {
  .indComic-frame02--diaImg {
    width: 230px;
    right: 50px;
    top: 30px;
    padding: 38px 0 0 40px;
    font-size: 1.125rem;
  }
}
@media all and (min-width: 64em) {
  .indComic-frame02--diaImg {
    right: 170px;
  }
}
@media all and (min-width: 90em) {
  .indComic-frame02--diaImg {
    width: 250px;
    right: 40px;
    top: 35px;
    padding: 40px 0 0 40px;
    font-size: 1.25rem;
  }
}
@media all and (min-width: 116em) {
  .indComic-frame02--diaImg {
    width: 285px;
    right: 40px;
    top: 35px;
    padding: 48px 0 0 50px;
    font-size: 1.38rem;
  }
}

.indComic-frame03 {
  width: 100%;
  height: 340px;
}
@media all and (min-width: 48em) {
  .indComic-frame03 {
    height: 300px;
  }
}
@media all and (min-width: 64em) {
  .indComic-frame03 {
    width: calc(50% - 10px);
    height: 420px;
    margin: 0 0 0 10px;
    float: left;
  }
}
@media all and (min-width: 90em) {
  .indComic-frame03 {
    width: calc(50% - 15px);
    height: 350px;
    margin: 0 0 20px 15px;
    float: left;
  }
}
@media all and (min-width: 116em) {
  .indComic-frame03 {
    height: 370px;
  }
}

.indComic-frame03--manImg {
  width: 240px;
  position: absolute;
  z-index: 2;
  right: 30px;
  bottom: 0px;
}
@media all and (min-width: 48em) {
  .indComic-frame03--manImg {
    width: 310px;
    right: 80px;
  }
}
@media all and (min-width: 64em) {
  .indComic-frame03--manImg {
    right: 50px;
  }
}
@media all and (min-width: 90em) {
  .indComic-frame03--manImg {
    width: 340px;
    right: 50px;
  }
}
@media all and (min-width: 116em) {
  .indComic-frame03--manImg {
    width: 400px;
  }
}

.indComic-frame03--diaImg {
  width: 230px;
  height: 300px;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 15px;
  background: url(../images/ele02.svg) no-repeat;
  background-size: 100% auto;
  padding: 45px 0 0 60px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
@media all and (min-width: 48em) {
  .indComic-frame03--diaImg {
    width: 280px;
    left: 50px;
    top: 30px;
    padding: 55px 0 0 80px;
    font-size: 1.125rem;
  }
}
@media all and (min-width: 90em) {
  .indComic-frame03--diaImg {
    width: 300px;
    left: 40px;
    padding: 60px 0 0 85px;
    font-size: 1.25rem;
  }
}
@media all and (min-width: 116em) {
  .indComic-frame03--diaImg {
    width: 330px;
    left: 40px;
    padding: 65px 0 0 90px;
    font-size: 1.38rem;
  }
}

.indComicBk02 {
  width: 100%;
  position: relative;
  z-index: 3;
  text-align: center;
  margin: 15px auto 50px auto;
  padding: 0 35px;
  overflow: hidden;
  min-height: 700px;
}
@media all and (min-width: 48em) {
  .indComicBk02 {
    padding: 70px 60px 0px 60px;
  }
}
@media all and (min-width: 64em) {
  .indComicBk02 {
    padding: 100px 60px 0px 60px;
  }
}
@media all and (min-width: 90em) {
  .indComicBk02 {
    margin: 70px auto 50px auto;
    padding: 240px 60px 0px 60px;
  }
}
@media all and (min-width: 116em) {
  .indComicBk02 {
    padding: 260px 160px 0px 160px;
  }
}

.indComic02-frameStyle--number01 {
  width: 22px;
  height: 22px;
  position: absolute;
  top: -1px;
  left: -1px;
  line-height: 20px;
  text-align: center;
  font-size: 0.88em;
  font-weight: 700;
  background: #ff0220;
  color: #FFF;
  border: 1px solid #ff0220;
}

.indComic02-frameStyle--number02 {
  width: 22px;
  height: 22px;
  position: absolute;
  top: -1px;
  right: -1px;
  line-height: 20px;
  background: #FFF;
  text-align: center;
  font-size: 0.88em;
  font-weight: 700;
  color: #ff0220;
  border: 1px solid #ff0220;
}

.indComic02-manImg {
  width: 250px;
  margin: 20px 5px -50px auto;
  position: relative;
  z-index: 2;
}
@media all and (min-width: 48em) {
  .indComic02-manImg {
    width: 310px;
  }
}
@media all and (min-width: 64em) {
  .indComic02-manImg {
    width: 380px;
  }
}
@media all and (min-width: 90em) {
  .indComic02-manImg {
    width: 500px;
  }
}
@media all and (min-width: 116em) {
  .indComic02-manImg {
    width: 550px;
  }
}

.indComic02-ele01 {
  width: 105px;
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 18px;
}
@media all and (min-width: 48em) {
  .indComic02-ele01 {
    width: 140px;
    top: 140px;
    left: 120px;
  }
}
@media all and (min-width: 64em) {
  .indComic02-ele01 {
    top: 200px;
    left: 150px;
  }
}
@media all and (min-width: 90em) {
  .indComic02-ele01 {
    width: 190px;
    top: 280px;
    left: 170px;
  }
}
@media all and (min-width: 116em) {
  .indComic02-ele01 {
    top: 290px;
    left: 290px;
  }
}

.indComic02-ele02 {
  width: 125px;
  position: absolute;
  z-index: 3;
  right: 12px;
  top: 60px;
}
@media all and (min-width: 48em) {
  .indComic02-ele02 {
    width: 160px;
    top: 90px;
    right: 80px;
  }
}
@media all and (min-width: 64em) {
  .indComic02-ele02 {
    top: 220px;
    right: 120px;
  }
}
@media all and (min-width: 90em) {
  .indComic02-ele02 {
    width: 215px;
    top: 330px;
    right: 200px;
  }
}
@media all and (min-width: 116em) {
  .indComic02-ele02 {
    top: 350px;
    right: 370px;
  }
}

.indComic02-ele03 {
  display: none;
}
@media all and (min-width: 48em) {
  .indComic02-ele03 {
    display: block;
    position: absolute;
    z-index: 1;
    width: 80%;
    left: 10%;
    top: 50px;
  }
}
@media all and (min-width: 64em) {
  .indComic02-ele03 {
    width: 80%;
    left: 10%;
    top: 80px;
  }
}
@media all and (min-width: 90em) {
  .indComic02-ele03 {
    top: 180px;
  }
}
@media all and (min-width: 116em) {
  .indComic02-ele03 {
    width: 65%;
    left: 17.5%;
    top: 200px;
  }
}

.indComic02-frame04 {
  opacity: 1;
  margin: 0 auto;
  margin-bottom: 12px;
  text-align: left;
}
@media all and (min-width: 64em) {
  .indComic02-frame04 {
    width: 40%;
    position: absolute;
    z-index: 1;
    top: 460px;
  }
}
@media all and (min-width: 90em) {
  .indComic02-frame04 {
    width: 500px;
    top: 520px;
  }
}
@media all and (min-width: 116em) {
  .indComic02-frame04 {
    width: 560px;
    top: 540px;
  }
}

.indComic02-frame04--text {
  padding: 50px 22px 30px 35px;
  font-size: 1rem;
  font-weight: 500;
  color: #131313;
  letter-spacing: 0.5px;
  line-height: 1.7;
}
@media all and (min-width: 48em) {
  .indComic02-frame04--text {
    font-size: 1.125rem;
    padding: 60px 50px 40px 50px;
  }
}
@media all and (min-width: 90em) {
  .indComic02-frame04--text {
    font-size: 1.25rem;
    padding: 50px 100px 50px 60px;
  }
}
@media all and (min-width: 116em) {
  .indComic02-frame04--text {
    font-size: 1.38rem;
    padding: 60px 80px 55px 80px;
  }
}

.indComic02-frame05 {
  opacity: 1;
  margin: 0 auto;
  margin-bottom: 12px;
  text-align: left;
  background: url(../images/ele06.svg) no-repeat;
  background-position: center;
  background-size: cover;
}
@media all and (min-width: 64em) {
  .indComic02-frame05 {
    width: 40%;
    position: absolute;
    z-index: 1;
    top: 460px;
    right: 60px;
  }
}
@media all and (min-width: 90em) {
  .indComic02-frame05 {
    width: 500px;
    top: 520px;
  }
}
@media all and (min-width: 116em) {
  .indComic02-frame05 {
    width: 560px;
    top: 540px;
    right: 160px;
  }
}

.indComic02-frame05--text {
  padding: 30px 22px 30px 35px;
  font-size: 1rem;
  font-weight: 500;
  color: #FFF;
  letter-spacing: 0.5px;
  line-height: 1.7;
}
@media all and (min-width: 48em) {
  .indComic02-frame05--text {
    font-size: 1.125rem;
    padding: 40px 50px 40px 50px;
  }
}
@media all and (min-width: 64em) {
  .indComic02-frame05--text {
    padding: 60px 50px 40px 50px;
  }
}
@media all and (min-width: 90em) {
  .indComic02-frame05--text {
    font-size: 1.25rem;
    padding: 50px 60px 50px 100px;
  }
}
@media all and (min-width: 116em) {
  .indComic02-frame05--text {
    font-size: 1.38rem;
    padding: 60px 80px 55px 90px;
  }
}

.indComic02-bg01 {
  width: 700px;
  position: absolute;
  z-index: -1;
  right: -500px;
  top: 100px;
}
@media all and (min-width: 48em) {
  .indComic02-bg01 {
    width: 800px;
    right: -600px;
    top: 70px;
  }
}
@media all and (min-width: 116em) {
  .indComic02-bg01 {
    width: 930px;
    right: -640px;
    top: 340px;
  }
}

.indComic02-bg02 {
  width: 700px;
  position: absolute;
  z-index: -1;
  left: -500px;
  top: 550px;
}
@media all and (min-width: 48em) {
  .indComic02-bg02 {
    width: 800px;
    position: absolute;
    z-index: -1;
    left: -440px;
    top: 400px;
  }
}
@media all and (min-width: 116em) {
  .indComic02-bg02 {
    width: 930px;
    left: -15px;
    top: 940px;
  }
}

.indComic02-bg03 {
  position: absolute;
  z-index: -2;
  width: 750px;
  left: -500px;
  top: 380px;
}
@media all and (min-width: 48em) {
  .indComic02-bg03 {
    top: 280px;
  }
}
@media all and (min-width: 116em) {
  .indComic02-bg03 {
    width: 1020px;
    left: -230px;
    top: 680px;
  }
}

.indqaBk {
  width: 100%;
  position: relative;
  z-index: 3;
  margin-top: 20px;
}
@media all and (min-width: 64em) {
  .indqaBk {
    margin-top: 70px;
  }
}
@media all and (min-width: 90em) {
  .indqaBk {
    margin-top: 240px;
    padding-bottom: 130px;
  }
}

.indqaBk-tit {
  width: 270px;
  position: relative;
  z-index: 3;
  right: -80px;
  top: 35px;
  opacity: 0;
}
@media all and (min-width: 48em) {
  .indqaBk-tit {
    width: 380px;
    right: -220px;
  }
}
@media all and (min-width: 64em) {
  .indqaBk-tit {
    top: 150px;
    right: -350px;
  }
}
@media all and (min-width: 90em) {
  .indqaBk-tit {
    position: absolute;
    top: -150px;
    right: 50px;
  }
}
@media all and (min-width: 116em) {
  .indqaBk-tit {
    width: 440px;
    right: 100px;
    top: -140px;
  }
}

.indqaBk-listBk {
  width: 100%;
}
@media all and (min-width: 90em) {
  .indqaBk-listBk {
    width: 760px;
    float: right;
  }
}
@media all and (min-width: 90em) {
  .indqaBk-listBk {
    margin-right: 240px;
  }
}
@media all and (min-width: 116em) {
  .indqaBk-listBk {
    margin-right: 340px;
    margin-top: 0px;
  }
}

.indqaBk-listStyle {
  background: #FFF;
  text-align: left;
  border: 2px solid #ff0220;
  display: block;
  position: relative;
  padding: 20px 20px 20px 30px;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.6;
  margin-top: -2px;
}
@media all and (min-width: 48em) {
  .indqaBk-listStyle {
    font-size: 1.38rem;
  }
}
@media all and (min-width: 90em) {
  .indqaBk-listStyle {
    padding: 25px 25px 25px 40px;
    font-size: 1.5rem;
  }
}
.indqaBk-listStyle:hover {
  color: #ff0220;
}

.indqaBk-listStyle--number {
  width: 23px;
  height: 23px;
  background: #ff0220;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
}

.indqaBk-listStyle--starEle01 {
  display: none;
}
@media all and (min-width: 90em) {
  .indqaBk-listStyle--starEle01 {
    opacity: 0;
    display: block;
    width: 28px;
    position: absolute;
    top: -120px;
    right: -30px;
  }
}

.indqaBk-listStyle--starEle02 {
  display: none;
}
@media all and (min-width: 90em) {
  .indqaBk-listStyle--starEle02 {
    opacity: 0;
    display: block;
    width: 32px;
    position: absolute;
    top: 50px;
    left: 290px;
  }
}

.indqaBk-listStyle--starEle03 {
  display: none;
}
@media all and (min-width: 90em) {
  .indqaBk-listStyle--starEle03 {
    opacity: 0;
    display: block;
    width: 27px;
    position: absolute;
    bottom: 0px;
    left: 600px;
  }
}

.indqaBk-listStyle--diaEle01 {
  display: none;
}
@media all and (min-width: 90em) {
  .indqaBk-listStyle--diaEle01 {
    opacity: 0;
    display: block;
    width: 180px;
    position: absolute;
    left: 40px;
    top: 120px;
  }
}

.indqaBk-listStyle--diaEle02 {
  display: none;
}
@media all and (min-width: 90em) {
  .indqaBk-listStyle--diaEle02 {
    display: block;
    width: 160px;
    position: absolute;
    left: 0px;
    top: 235px;
  }
}

.indqaBk-listStyle--diaEle03 {
  display: none;
}
@media all and (min-width: 90em) {
  .indqaBk-listStyle--diaEle03 {
    display: block;
    width: 170px;
    position: absolute;
    right: 210px;
    bottom: 30px;
  }
}

.indqaBk-listStyle--diaEle04 {
  display: none;
}
@media all and (min-width: 90em) {
  .indqaBk-listStyle--diaEle04 {
    display: block;
    width: 190px;
    position: absolute;
    right: 150px;
    bottom: 0px;
  }
}

.indCaseBk {
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 0 15px;
}
@media all and (min-width: 48em) {
  .indCaseBk {
    padding: 0 40px;
  }
}
@media all and (min-width: 90em) {
  .indCaseBk {
    padding: 0 0px;
  }
}

@media all and (min-width: 64em) {
  .pagArtli-biteBk {
    position: absolute;
    z-index: 3;
    top: 220px;
  }
}
@media all and (min-width: 116em) {
  .pagArtli-biteBk {
    top: 300px;
    left: 20px;
  }
}

.pagArtliList--latestLabel {
  position: absolute;
  z-index: 3;
  top: -50px;
  right: 0px;
  width: 120px;
}
@media all and (min-width: 48em) {
  .pagArtliList--latestLabel {
    width: 180px;
    right: 0;
    top: 30px;
  }
}
@media all and (min-width: 64em) {
  .pagArtliList--latestLabel {
    width: 160px;
    right: 500px;
    top: 80px;
  }
}
@media all and (min-width: 116em) {
  .pagArtliList--latestLabel {
    width: 200px;
    right: 540px;
    top: 90px;
  }
}

.pagArtliListBk {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.pagArtliListBk .eleArticleList.eleArticleList--latest {
  width: 100%;
  margin: 70px 0;
  padding: 0px;
}
@media all and (min-width: 64em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest {
    margin: 70px 0 220px 0;
  }
}
@media all and (min-width: 90em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest {
    margin: 70px 0 200px 0;
  }
}
@media all and (min-width: 116em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest {
    margin: 70px 0 240px 0;
  }
}
.pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-label {
  margin-bottom: 30px;
}
.pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-imgBk {
  position: relative;
  z-index: 2;
  width: 100%;
  left: -35px;
  top: 0;
}
@media all and (min-width: 48em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-imgBk {
    left: -60px;
  }
}
@media all and (min-width: 64em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-imgBk {
    width: 58.5%;
    top: 80px;
  }
}
@media all and (min-width: 90em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-imgBk {
    width: 65%;
    left: -100px;
  }
}
@media all and (min-width: 116em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-imgBk {
    width: 940px;
    left: 20px;
    top: 80px;
  }
}
.pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-textBk {
  position: relative;
  z-index: 1;
  margin-top: -40px;
  padding: 70px 25px 40px 35px;
  background: #ffebed;
  border: 2px solid #ff0220;
  border-right: none;
  width: calc(100% + 35px);
}
@media all and (min-width: 48em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-textBk {
    width: calc(100% + 60px);
    padding: 80px 60px 60px 60px;
  }
}
@media all and (min-width: 64em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-textBk {
    width: 70%;
    position: absolute;
    right: -60px;
    top: 100px;
    min-height: 470px;
    padding: 20px 50px 0px 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (min-width: 90em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-textBk {
    width: 60%;
    right: -100px;
    padding: 120px 100px 100px 240px;
    top: 100px;
  }
}
@media all and (min-width: 116em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-textBk {
    width: 980px;
    right: -160px;
    min-height: 680px;
    padding: 20px 220px 0px 320px;
    top: 100px;
  }
}
@media all and (min-width: 90em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-textBk--tit {
    font-size: 1.88rem;
  }
}
@media all and (min-width: 116em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-textBk--date {
    margin: 30px 0;
  }
}
.pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-textBk--text {
  color: #131313;
  line-height: 2;
}
@media all and (min-width: 90em) {
  .pagArtliListBk .eleArticleList.eleArticleList--latest .eleArticleList-textBk--text {
    font-size: 1.25rem;
  }
}

.pagArtinBannerBk {
  margin: 100px auto 0 auto;
}
@media all and (min-width: 48em) {
  .pagArtinBannerBk {
    margin: 140px auto 0px auto;
  }
}
.pagArtinBanner-artInfo {
  text-align: center;
  margin-bottom: 30px;
}
@media all and (min-width: 48em) {
  .pagArtinBanner-artInfo {
    margin-bottom: 50px;
  }
}
@media all and (min-width: 90em) {
  .pagArtinBanner-artInfo {
    width: 900px;
    margin: 135px auto 50px auto;
  }
}

.pagArtinBanner-artInfo--label {
  margin-bottom: 20px;
}
@media all and (min-width: 48em) {
  .pagArtinBanner-artInfo--label {
    margin-bottom: 25px;
  }
}

.pagArtinBanner-artInfo--tit {
  margin-bottom: 20px;
}
@media all and (min-width: 48em) {
  .pagArtinBanner-artInfo--tit {
    margin-bottom: 20px;
  }
}

.pagArtinBanner-Banner {
  width: 100%;
}
@media all and (min-width: 90em) {
  .pagArtinBanner-Banner {
    width: 1200px;
  }
}

.pagArtinBannerBk-biteBk {
  display: none;
}
@media all and (min-width: 64em) {
  .pagArtinBannerBk-biteBk {
    display: block;
    position: relative;
    left: 0px;
    bottom: 100px;
  }
}
@media all and (min-width: 90em) {
  .pagArtinBannerBk-biteBk {
    left: 160px;
  }
}

.pagArtinTextBk {
  width: 100%;
  margin: 40px auto;
}
@media all and (min-width: 64em) {
  .pagArtinTextBk {
    margin: -30px auto 0px auto;
  }
}
@media all and (min-width: 90em) {
  .pagArtinTextBk {
    width: 60em;
  }
}

.pagArtinDownloadBk {
  margin: 60px auto;
}

@media all and (min-width: 64em) {
  .pagQali-biteBk {
    position: absolute;
    z-index: 3;
    top: 220px;
  }
}
@media all and (min-width: 116em) {
  .pagQali-biteBk {
    top: 300px;
    left: 20px;
  }
}

.pagQaListBk {
  width: 100%;
  margin-bottom: 60px;
}
@media all and (min-width: 64em) {
  .pagQaListBk {
    margin: 50px 0px 60px 0px;
  }
}
@media all and (min-width: 90em) {
  .pagQaListBk {
    width: 80%;
    position: relative;
    z-index: 1;
    left: 20%;
    margin: 45px 0px 90px 240px;
  }
}
@media all and (min-width: 116em) {
  .pagQaListBk {
    margin: 45px 0px 90px 240px;
  }
}

.pagQaListBk-listStyle {
  background: #ffebed;
  text-align: left;
  border: 2px solid #ff0220;
  display: block;
  position: relative;
  padding: 20px 20px 20px 30px;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.6;
  margin-top: -2px;
}
.pagQaListBk-listStyle:hover {
  color: #ff0220;
}
@media all and (min-width: 48em) {
  .pagQaListBk-listStyle {
    font-size: 1.38rem;
  }
}
@media all and (min-width: 90em) {
  .pagQaListBk-listStyle {
    padding: 25px 25px 25px 40px;
    font-size: 1.5rem;
  }
}
@media all and (min-width: 90em) {
  .pagQaListBk-listStyle {
    padding: 25px 180px 25px 40px;
  }
}

.pagQaListBk-listStyle--number {
  width: 23px;
  height: 23px;
  background: #ff0220;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
}

.pagQain-bg {
  position: absolute;
  width: 100%;
  height: 220px;
  background: #ffebed;
  z-index: 3;
}
@media all and (min-width: 48em) {
  .pagQain-bg {
    height: 270px;
  }
}
@media all and (min-width: 90em) {
  .pagQain-bg {
    height: 330px;
  }
}

.pagQainBannerBk {
  margin: 100px auto 0 auto;
  position: relative;
}
@media all and (min-width: 48em) {
  .pagQainBannerBk {
    margin: 200px auto 0px auto;
  }
}
@media all and (min-width: 64em) {
  .pagQainBannerBk {
    margin: 160px 0 60px 0;
    display: flex;
    align-content: stretch;
    align-items: stretch;
  }
}
@media all and (min-width: 90em) {
  .pagQainBannerBk {
    margin: 210px 0 60px 0;
  }
}

.pagQainBannerBk-biteBk {
  display: none;
}
@media all and (min-width: 64em) {
  .pagQainBannerBk-biteBk {
    display: block;
    position: relative;
    top: 0px;
  }
}
@media all and (min-width: 116em) {
  .pagQainBannerBk-biteBk {
    width: 650px;
  }
}

.pagQainBanner-artInfo {
  text-align: center;
  width: 100%;
  border: 2px solid #ff0220;
  background: #FFF;
  padding: 20px 25px;
  text-align: center;
  margin-bottom: 30px;
}
@media all and (min-width: 48em) {
  .pagQainBanner-artInfo {
    margin-bottom: 0px;
  }
}
@media all and (min-width: 64em) {
  .pagQainBanner-artInfo {
    width: calc(100% - 440px);
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2px;
  }
}
@media all and (min-width: 90em) {
  .pagQainBanner-artInfo {
    padding: 40px 50px;
  }
}
@media all and (min-width: 116em) {
  .pagQainBanner-artInfo {
    width: calc(100% - 650px);
  }
}

.pagQainBanner-artInfo--tit {
  font-size: 1.5rem;
  font-weight: 700;
}
@media all and (min-width: 48em) {
  .pagQainBanner-artInfo--tit {
    font-size: 2.13rem;
    font-weight: 700;
    line-height: 1.5;
  }
}

.pagQainBannerBk-ele01 {
  display: none;
}
@media all and (min-width: 64em) {
  .pagQainBannerBk-ele01 {
    display: block;
    position: absolute;
    z-index: 4;
    top: 140px;
    left: 220px;
    width: 100px;
  }
}
@media all and (min-width: 90em) {
  .pagQainBannerBk-ele01 {
    width: 120px;
    top: 160px;
    left: 280px;
  }
}
@media all and (min-width: 116em) {
  .pagQainBannerBk-ele01 {
    top: 180px;
    left: 340px;
  }
}

.pagQainBannerBk-ele02 {
  display: none;
}
@media all and (min-width: 48em) {
  .pagQainBannerBk-ele02 {
    display: block;
    position: absolute;
    z-index: 4;
    width: 140px;
    top: -100px;
    right: 0px;
  }
}
@media all and (min-width: 64em) {
  .pagQainBannerBk-ele02 {
    top: -80px;
    right: 20px;
  }
}
@media all and (min-width: 90em) {
  .pagQainBannerBk-ele02 {
    width: 180px;
    top: -100px;
    right: 20px;
  }
}
@media all and (min-width: 116em) {
  .pagQainBannerBk-ele02 {
    top: -110px;
    right: 60px;
  }
}

.pagQainTextBk {
  margin: 20px 0 60px 0;
}
@media all and (min-width: 64em) {
  .pagQainTextBk {
    float: right;
    margin: 0 0 60px 0;
  }
}

@media all and (min-width: 64em) {
  .pagVideoliListBk {
    margin-bottom: 150px;
  }
}

@media all and (min-width: 64em) {
  .pagVideoli-biteBk {
    position: absolute;
    z-index: 3;
    top: 220px;
  }
}
@media all and (min-width: 116em) {
  .pagVideoli-biteBk {
    top: 300px;
    left: 20px;
  }
}

.pagVideoliList--latestLabel {
  position: absolute;
  z-index: 3;
  top: -50px;
  right: 0px;
  width: 120px;
}
@media all and (min-width: 48em) {
  .pagVideoliList--latestLabel {
    width: 180px;
    right: 0px;
    top: -30px;
  }
}
@media all and (min-width: 64em) {
  .pagVideoliList--latestLabel {
    right: 440px;
    top: 80px;
  }
}
@media all and (min-width: 90em) {
  .pagVideoliList--latestLabel {
    right: 460px;
  }
}
@media all and (min-width: 116em) {
  .pagVideoliList--latestLabel {
    width: 200px;
    right: 560px;
    top: 90px;
  }
}

.pagVideoList--latest {
  position: relative;
  width: 100%;
  margin: 70px 0;
  padding: 0px;
}
@media all and (min-width: 64em) {
  .pagVideoList--latest {
    margin: 10px 0 260px 0;
  }
}
.pagVideoList-imgBk--latest {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  left: -35px;
  top: 0;
}
@media all and (min-width: 48em) {
  .pagVideoList-imgBk--latest {
    left: -60px;
  }
}
@media all and (min-width: 64em) {
  .pagVideoList-imgBk--latest {
    width: 62%;
    top: 167px;
  }
}
@media all and (min-width: 90em) {
  .pagVideoList-imgBk--latest {
    width: 62%;
    left: -100px;
  }
}
@media all and (min-width: 116em) {
  .pagVideoList-imgBk--latest {
    width: 1000px;
    left: 20px;
    top: 135px;
  }
}
.pagVideoList-imgBk--latest:hover, .pagVideoList-imgBk--latest:active {
  transform: scale(1.03);
}

.pagVideoList-textBk--latest {
  position: relative;
  z-index: 1;
  margin-top: -40px;
  padding: 70px 25px 40px 35px;
  background: #ffebed;
  border: 2px solid #ff0220;
  border-right: none;
  width: calc(100% + 35px);
}
@media all and (min-width: 48em) {
  .pagVideoList-textBk--latest {
    width: calc(100% + 60px);
    padding: 80px 60px 60px 60px;
  }
}
@media all and (min-width: 64em) {
  .pagVideoList-textBk--latest {
    width: 64%;
    position: absolute;
    right: -60px;
    top: 100px;
    min-height: 510px;
    padding: 10px 60px 0px 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (min-width: 90em) {
  .pagVideoList-textBk--latest {
    width: 65%;
    right: -100px;
    min-height: 600px;
    padding: 140px 100px 100px 260px;
    top: 100px;
  }
}
@media all and (min-width: 116em) {
  .pagVideoList-textBk--latest {
    width: 1000px;
    right: -160px;
    min-height: 700px;
    padding: 30px 200px 0px 360px;
    top: 100px;
  }
}

.pagVideoList {
  position: relative;
  width: 100%;
  margin: 0 0 70px 0;
  padding: 0px;
}
@media all and (min-width: 64em) {
  .pagVideoList {
    margin: 0px 0 80px 0;
  }
}
.pagVideoList-imgBk {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  top: 0;
}
@media all and (min-width: 64em) {
  .pagVideoList-imgBk {
    position: absolute;
    width: 55%;
    top: 130px;
    left: 0px;
  }
}
@media all and (min-width: 90em) {
  .pagVideoList-imgBk {
    width: 50%;
    top: 200px;
  }
}
@media all and (min-width: 116em) {
  .pagVideoList-imgBk {
    width: 53%;
    top: 120px;
    left: 20px;
  }
}
.pagVideoList-imgBk:hover, .pagVideoList-imgBk:active {
  transform: scale(1.03);
}

.pagVideoList-textBk {
  position: relative;
  z-index: 1;
  padding: 40px 25px 40px 35px;
  background: #FFF;
  border: 2px solid #ff0220;
}
@media all and (min-width: 48em) {
  .pagVideoList-textBk {
    margin-top: 0px;
    padding: 60px 60px 60px 60px;
  }
}
@media all and (min-width: 64em) {
  .pagVideoList-textBk {
    width: 60%;
    position: relative;
    right: -42.5%;
    top: 50px;
    min-height: 420px;
    padding: 0px 40px 0px 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (min-width: 90em) {
  .pagVideoList-textBk {
    width: 65%;
    right: -35%;
    top: 100px;
    padding: 0px 100px 0px 300px;
    min-height: 540px;
  }
}
@media all and (min-width: 116em) {
  .pagVideoList-textBk {
    width: 60%;
    right: -39%;
    top: 60px;
    padding: 0px 160px 0px 380px;
    min-height: 600px;
  }
}

.pagVideoList-imgBk--videoBt {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50px;
}
@media all and (min-width: 48em) {
  .pagVideoList-imgBk--videoBt {
    width: 90px;
    bottom: 0px;
    right: 0px;
  }
}
@media all and (min-width: 64em) {
  .pagVideoList-imgBk--videoBt {
    width: 90px;
    bottom: 0px;
    right: 0px;
  }
}
@media all and (min-width: 116em) {
  .pagVideoList-imgBk--videoBt {
    width: 140px;
    right: 0px;
    bottom: 0px;
  }
}

.pagVideoList-textBk--label {
  margin-bottom: 30px;
}

.pagVideoList-textBk--tit {
  display: block;
  width: 100%;
  letter-spacing: 0.5px;
  padding: 0 2px;
  font-size: 1.125rem;
  margin-bottom: 12px;
}
@media all and (min-width: 48em) {
  .pagVideoList-textBk--tit {
    font-size: 1.38rem;
    margin-bottom: 20px;
  }
}
@media all and (min-width: 90em) {
  .pagVideoList-textBk--tit {
    font-size: 1.88rem;
  }
}
.pagVideoList-textBk--tit:hover, .pagVideoList-textBk--tit:active {
  color: #ff0220;
}

.pagVideoList-textBk--date {
  font-size: 0.9375rem;
  font-family: "Carter One", cursive;
  color: #ff0220;
}
@media all and (min-width: 48em) {
  .pagVideoList-textBk--date {
    font-size: 1.125rem;
  }
}
@media all and (min-width: 116em) {
  .pagVideoList-textBk--date {
    margin: 30px 0;
  }
}

.pagVideoList-textBk--text {
  margin-top: 25px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: #131313;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media all and (min-width: 90em) {
  .pagVideoList-textBk--text {
    font-size: 1.25rem;
  }
}

.pagVideoinBannerBk {
  position: relative;
  margin: 100px auto 0 auto;
}
@media all and (min-width: 48em) {
  .pagVideoinBannerBk {
    margin: 140px auto 0px auto;
  }
}
@media all and (min-width: 64em) {
  .pagVideoinBannerBk {
    margin: 140px auto 300px auto;
  }
}
@media all and (min-width: 90em) {
  .pagVideoinBannerBk {
    width: 1200px;
  }
}

.pagVideoinBannerBk-VideoBk {
  width: 100%;
}
@media all and (min-width: 90em) {
  .pagVideoinBannerBk-VideoBk {
    margin: 0 auto;
  }
}

.pagVideoinBannerBk-biteBk {
  display: none;
}
@media all and (min-width: 64em) {
  .pagVideoinBannerBk-biteBk {
    display: block;
    position: absolute;
    top: auto;
    margin-top: 40px;
  }
}
@media all and (min-width: 116em) {
  .pagVideoinBannerBk-biteBk {
    left: 0px;
  }
}

.pagVideoinTextBk {
  width: 100%;
  margin: 40px auto;
}
@media all and (min-width: 90em) {
  .pagVideoinTextBk {
    width: 60em;
    padding: 20px 0 0 0;
  }
}

@media all and (min-width: 116em) {
  .pagAbout-biteBk {
    width: 540px;
  }
}

/*文編內容*/
.textBk {
  width: 100%;
  margin: 0 auto;
}
@media all and (min-width: 90em) {
  .textBk {
    width: 60em;
  }
}

.textBk th {
  text-align: left;
}
.textBk caption {
  text-align: left;
}
.textBk a {
  display: inline-block;
  width: auto;
  color: #ff0220;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.8;
  padding: 15px 0;
  border-bottom: 2px dashed #ff5343;
}
@media all and (min-width: 48em) {
  .textBk a {
    font-size: 1.5rem;
  }
}
.textBk a::before {
  content: "📢";
  padding: 0 12px 0 0;
  -webkit-text-decoration: auto;
          text-decoration: auto;
  font-style: normal;
}
.textBk a:hover {
  color: #131313;
}
.textBk img {
  width: 100% !important;
  height: auto !important;
  margin: 30px 0;
}
.textBk .imgHeading {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #868686;
  line-height: 1.5;
  margin-bottom: 30px;
}
.textBk h1, .textBk h2, .textBk h3, .textBk h4, .textBk h5, .textBk h6, .textBk p {
  width: 100%;
  line-height: 2;
  font-weight: 500;
  margin: 20px 0;
}
.textBk h1, .textBk h2, .textBk h3 {
  font-weight: 700;
}
.textBk div {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
}
@media all and (min-width: 48em) {
  .textBk div {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.2;
  }
}
.textBk p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
}
@media all and (min-width: 48em) {
  .textBk p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.2;
  }
}
.textBk .sumBk {
  width: 100%;
  margin: 30px 0;
  border: 2px solid #ff0220;
  background: #FFF;
  padding: 20px 25px;
  line-height: 2;
  letter-spacing: 0.5px;
  color: #131313;
  font-size: 1.25rem;
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-weight: 500;
}
@media all and (min-width: 48em) {
  .textBk .sumBk {
    font-size: 1.5rem;
    padding: 40px 50px;
  }
}
.textBk .parHeadingBk {
  width: 100%;
  margin: 30px 0;
  border: 2px solid #ff0220;
  background: #ffebed;
  padding: 20px 25px;
  line-height: 2;
  letter-spacing: 0.5px;
  color: #131313;
  font-size: 1.25rem;
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-weight: 500;
}
@media all and (min-width: 48em) {
  .textBk .parHeadingBk {
    font-size: 1.5rem;
    padding: 40px 50px;
  }
}
.textBk .conBk {
  background: #ff0220;
  width: 100%;
  margin: 30px 0;
  border: 2px solid #ff0220;
  padding: 20px 25px;
  line-height: 2;
  letter-spacing: 0.5px;
  color: #FFF;
  font-size: 1.25rem;
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-weight: 500;
}
@media all and (min-width: 48em) {
  .textBk .conBk {
    font-size: 1.38rem;
    padding: 40px 50px;
  }
}
@media all and (min-width: 90em) {
  .textBk .conBk {
    font-size: 1.5rem;
  }
}
.textBk .conBk--02 {
  background: #FFF;
  width: 100%;
  margin: 30px 0;
  border: 2px solid #ff0220;
  padding: 20px 25px;
  line-height: 2;
  letter-spacing: 0.5px;
  color: #131313;
  font-size: 1.25rem;
  font-family: "Noto Sans TC", sans-serif, "Microsoft JhengHei";
  font-weight: 500;
}
@media all and (min-width: 48em) {
  .textBk .conBk--02 {
    font-size: 1.38rem;
    padding: 40px 50px;
  }
}
@media all and (min-width: 90em) {
  .textBk .conBk--02 {
    font-size: 1.5rem;
  }
}
.textBk .relLink {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ff0220;
  text-decoration: underline;
  line-height: 1.8;
}
@media all and (min-width: 48em) {
  .textBk .relLink {
    font-size: 1.5rem;
  }
}