/*元素*/
// line聯絡按鈕
.eleLineBt
    position: fixed
    bottom: 20px
    right: 20px
    display: block
    z-index: 5
    transition: all 0.3s ease
    @include ipad
        bottom: 30px
        right: 40px
    @include maxcom-1920
        bottom: 20px
    &:hover,&:active
        transform: scale(1.05)
.eleLineBt-man
    width: 75px
    height: 75px
    position: relative
    z-index: 1
    background: $main-color-50
    border: 3px solid #FFF
    border-radius: 50%
    opacity: 0
    @include ipad
        width: 90px
        height: 90px
    @include maxcom-1920
        width: 110px
        height: 110px
.eleLineBt-dia
    width: 90px
    height: auto
    position: absolute
    z-index: 2
    top: -60px
    right: 5px
    opacity: 0
    @include ipad
        width: 110px
        top: -70px
    @include maxcom-1920
        width: 135px
        top: -90px
    

//內頁或Section標題
.eleTitCh
    font:
        size: $text-20
        weight: 700
    color: $black
    @include ipad
    @include maxcom
        font:
            size: $text-30
.eleTitEn
    font:
        size: $text-15
        family: $text-style-en
    color: $main-color
    @include ipad
    @include maxcom
        font:
            size: $text-20



//文章列表樣式
.eleArticleList
    width: 100%
    margin-bottom: 70px
    padding: 0 20px
    @include ipad
        width: 50%
        float: left
        // min-height: 500px
    @include computer
        // min-height: 570px
    @include maxcom
        width: 25%
        margin-bottom: 80px
.eleArticleList-label
    width: auto
    display: inline-block
    background: $main-color
    font:
        size: $text-16
    color: #FFF
    padding: 5px 10px
    letter-spacing: 1px
    margin-bottom: 30px
.eleArticleList-imgBk
    display: block
    &:hover,&:active
        // opacity: 0.7
        // mix-blend-mode: darken
        transform: scale(1.03)
.eleArticleList-textBk
    margin-top: 30px
    @include ipad
        margin-top: 40px
.eleArticleList-textBk--tit
    letter-spacing: 0.5px
    padding: 0 2px
    font:
        size: $text-18
    margin-bottom: 12px
    // min-height: 70px
    @include lineClamp(2)
    @include ipad
        font:
            size: $text-22
        margin-bottom: 20px
        min-height: 75px
    &:hover,&:active
        color: $main-color
.eleArticleList-textBk--date
    font:
        size: $text-15
        family: $text-style-en
    // color: $text-gray-400            
    color: $main-color
    @include ipad
        font:
            size: $text-18
.eleArticleList-textBk--text
    margin-top: 25px
    letter-spacing: 0.5px
    line-height: 1.7
    color: $text-gray
    font:
        size: $text-16
    @include lineClamp(3)
    @include ipad
        min-height: 85px
    @include computer


/*麵包屑*/
.eleBite
    width: 100%
    cursor: pointer
    @include ipad
.eleBite-link
    letter-spacing: 0.5px
    line-height: 1
    padding-bottom: 3px
    font:
        size: $text-14
    @include ipad
        font:
            size: $text-16
    &:hover,&:active
        color: $main-color
    &::after
        content: url(../images/arrow-right-icon.svg)
        width: 18px
        height: 18px
        vertical-align: -6px
    &:last-of-type
        &::after
            display: none


/*跳頁按鈕*/
.eleSelPageBk
    width: 100%
    margin: 0 auto
    text-align: center
.eleSelPageArrow
    width: 24px
    height: 24px
    display: inline-block
    border: none
    cursor: pointer
    transition: all 0.3s ease-in-out
    vertical-align: -5px
.eleSelPageArrow--left
    background: url(../images/arrow-left-icon.svg) no-repeat
    margin-right: 5px
    @include ipad
        // margin-right: 30px
    &:hover
        transform: scale(1.1) translateX(-5px)
.eleSelPageArrow--right
    background: url(../images/arrow-right-icon.svg) no-repeat
    margin-left: 5px
    @include ipad
        // margin-left: 30px
    &:hover
        transform: scale(1.1) translateX(5px)
.eleSelPageCount
    width: 38px
    height: 38px
    background: rgba(0,0,0,0.1)
    text-align: center
    display: inline-block
    border-radius: 50%
    line-height: 37px
    font:
        size: $text-16
        weight: 600
    &:hover
        background: rgba(255,255,255,1)
        color: $main-color
.eleSelPageCount--pageIn
    background: $main-color
    color: #FFF


//文章標籤
.eleLabel
    width: auto
    display: inline-block
    background: $main-color
    font:
        size: $text-16
    color: #FFF
    padding: 5px 10px
    letter-spacing: 1px
//文章日期
.eleDate
    font:
        size: $text-15
        family: $text-style-en          
    color: $main-color
    @include ipad
        font:
            size: $text-18


/*附件下載列表*/
.eleDownloadList
    display: block
    background: $main-color-50
    // text-align: left
    border: 2px solid $main-color
    position: relative
    padding: 20px 20px 20px 20px
    font:
        size: $text-18
        weight: 500
    letter-spacing: 0.5px
    line-height: 1.6
    margin-top: -2px
    @include ipad
        font:
            size: $text-20
        padding: 25px 25px 25px 40px
    @include maxcom
    &:hover
        color: $main-color