/*首頁*/
.indComicBk
    position: relative
    z-index: 3
    padding: 60px 35px 0 35px
    @include ipad
        padding: 80px 60px 0 60px
    @include computer
        padding: 100px 60px 0 60px
    @include maxcom
        padding: 110px 100px 0 100px
    @include maxcom-1920
        padding: 110px 90px 0 90px
.indComic-frameStyle
    border: 1px solid $main-color
    background: #FFF
    margin-bottom: 12px
    position: relative
    opacity: 0
    // border-radius: 2px
    overflow: hidden
    @include ipad
        margin-bottom: 20px
.indComic-frameStyle--number
    width: 22px
    height: 22px
    background: $main-color
    position: absolute
    top: 0
    right: 0
    line-height: 20px
    text-align: center
    font:
        size: $text-14
        weight: 700
    color: #fff
.indComic-narrBk
    position: relative
    z-index: 2
    top: -120px
    left: -10px
    opacity: 0
    @include computer
        top: -230px
        left: 60px
    @include maxcom
        top: 480px
        left: -40px
    @include maxcom-1920
        top: 550px
        left: -70px
.indComic-narrStyle
    width: 220px
    height: 145px
    padding: 20px 0px 20px 25px
    font:
        size: $text-20
        weight: 500
    letter-spacing: 1px
    line-height: 1.6
    position: absolute
    z-index: 2
    background: #FFF
    border: 3px solid $black
    // border: 3px solid $main-color
    // background: $main-color
    // color: #FFF
    @include ipad
        width: 245px
        height: 160px
        padding: 22px 0px 20px 30px
        font:
            size: $text-22
            weight: 500
    @include computer
    @include maxcom
        width: 280px
        height: 185px
        padding: 25px 0px 20px 30px
        font:
            size: $text-26
            weight: 500
    @include maxcom-1920
        width: 345px
        height: 230px
        padding: 35px 0px 20px 40px
        font:
            size: $text-32
            weight: 500
.indComic-narrStyle--shadow
    display: block
    z-index: 1
    top: 9px
    left: -9px
    background: #FFF
    @include computer
        top: 10px
        left: -10px
    @include maxcom-1920
        top: 13px
        left: -13px

.indComic-frame01
    width: 100%
    height: 400px
    @include ipad
        // width: 75%
        // margin-left: 25%
        height: 400px
    @include computer
        width: 100%
        // margin-left: 20%
        height: 370px
    @include maxcom
        float: left
        height: 720px
        width: calc(50% - 15px)
        margin-right: 15px
    @include maxcom-1920
        height: 760px
.indComic-frame01--manImg
    width: 225px
    position: absolute
    z-index: 1
    right: 0px
    bottom: 0px
    @include ipad
        width: 300px
        right: 70px
        bottom: -70px
    @include computer
        right: 100px
        bottom: -80px
    @include maxcom
        width: 380px
        right: 35px   
        bottom: 0px
    @include maxcom-1920
        width: 440px
        right: 40px  
        bottom: 0px
.indComic-frame01--diaImg
    width: 135px
    position: absolute
    z-index: 2
    left: 15px
    top: 50px
    @include ipad
        width: 220px
        left: 90px
        top: 45px
    @include computer
        left: 300px
        top: 20px
    @include maxcom
        width: 250px
        left: 40px
        top: 120px
    @include maxcom-1920
        width: 300px
        top: 80px
        left: 50px
    
    
.indComic-frame02
    width: 100%
    height: 370px
    @include ipad
        height: 300px
    @include computer
        width: calc(50% - 10px)
        height: 420px
        margin: 0 10px 0 0
        float: left
    @include maxcom
        width: calc(50% - 15px)
        height: 350px
        margin: 0 0 20px 15px
    @include maxcom-1920
        height: 370px
.indComic-frame02--manImg
    position: absolute
    z-index: 2
    width: 240px
    left: 25px
    bottom: 0px
    @include ipad
        width: 300px
        left: 100px
    @include maxcom
        width: 340px
        left: 30px
    @include maxcom-1920
        width: 390px
.indComic-frame02--diaImg
    width: 190px
    height: 300px
    position: absolute
    z-index: 1
    right: 20px
    top: 50px
    background: url(../images/ele014.svg) no-repeat
    background-size: 100% auto
    padding: 30px 0 0 30px
    font:
        size: $text-16
        weight: 500
    letter-spacing: 0.5px
    line-height: 1.5
    @include ipad
        width: 230px
        right: 50px
        top: 30px
        padding: 38px 0 0 40px
        font:
            size: $text-18
    @include computer
        right: 170px
    @include maxcom
        width: 250px
        right: 40px
        top: 35px
        padding: 40px 0 0 40px
        font:
            size: $text-20
    @include maxcom-1920
        width: 285px
        right: 40px
        top: 35px
        padding: 48px 0 0 50px
        font:
            size: $text-22

.indComic-frame03
    width: 100%
    height: 340px
    @include ipad
        height: 300px
    @include computer
        width: calc(50% - 10px)
        height: 420px
        margin: 0 0 0 10px
        float: left
    @include maxcom
        width: calc(50% - 15px)
        height: 350px
        margin: 0 0 20px 15px
        float: left
    @include maxcom-1920
        height: 370px
.indComic-frame03--manImg
    width: 240px
    position: absolute
    z-index: 2
    right: 30px
    bottom: 0px
    @include ipad
        width: 310px
        right: 80px
    @include computer
        right: 50px
    @include maxcom
        width: 340px
        right: 50px
    @include maxcom-1920
        width: 400px
.indComic-frame03--diaImg
    width: 230px
    height: 300px
    position: absolute
    z-index: 1
    left: 20px
    top: 15px
    background: url(../images/ele02.svg) no-repeat
    background-size: 100% auto
    padding: 45px 0 0 60px
    font:
        size: $text-16
        weight: 500
    color: #fff
    letter-spacing: 0.5px
    line-height: 1.5
    @include ipad
        width: 280px
        left: 50px
        top: 30px
        padding: 55px 0 0 80px
        font:
            size: $text-18
    @include computer
    @include maxcom
        width: 300px
        left: 40px
        padding: 60px 0 0 85px
        font:
            size: $text-20
    @include maxcom-1920
        width: 330px
        left: 40px
        padding: 65px 0 0 90px
        font:
            size: $text-22


//第二區banner
.indComicBk02
    width: 100%
    position: relative
    z-index: 3
    text-align: center
    margin: 15px auto 50px auto
    padding: 0 35px
    overflow: hidden
    min-height: 700px
    @include ipad
        padding: 70px 60px 0px 60px
    @include computer
        padding: 100px 60px 0px 60px
    @include maxcom
        margin: 70px auto 50px auto
        padding: 240px 60px 0px 60px
    @include maxcom-1920
        padding: 260px 160px 0px 160px
.indComic02-frameStyle--number01
    width: 22px
    height: 22px
    position: absolute
    top: -1px
    left: -1px
    line-height: 20px
    text-align: center
    font:
        size: $text-14
        weight: 700
    background: $main-color
    color: #FFF
    border: 1px solid $main-color
.indComic02-frameStyle--number02
    width: 22px
    height: 22px
    position: absolute
    top: -1px
    right: -1px
    line-height: 20px
    background: #FFF
    text-align: center
    font:
        size: $text-14
        weight: 700
    color: $main-color
    border: 1px solid $main-color
.indComic02-manImg
    width: 250px
    margin: 20px 5px -50px auto
    position: relative
    z-index: 2
    @include ipad
        width: 310px
    @include computer
        width: 380px
    @include maxcom
        width: 500px
    @include maxcom-1920
        width: 550px
.indComic02-ele01
    width: 105px
    position: absolute
    z-index: 3
    top: 20px
    left: 18px
    @include ipad
        width: 140px    
        top: 140px
        left: 120px
    @include computer
        top: 200px
        left: 150px
    @include maxcom
        width: 190px    
        top: 280px
        left: 170px
    @include maxcom-1920
        top: 290px
        left: 290px
.indComic02-ele02
    width: 125px
    position: absolute
    z-index: 3
    right: 12px
    top: 60px
    @include ipad
        width: 160px    
        top: 90px
        right: 80px
    @include computer
        top: 220px
        right: 120px
    @include maxcom
        width: 215px    
        top: 330px
        right: 200px
    @include maxcom-1920
        top: 350px
        right: 370px
.indComic02-ele03
    display: none
    @include ipad
        display: block
        position: absolute
        z-index: 1
        width: 80%
        left: 10%
        top: 50px
    @include computer
        width: 80%
        left: 10%
        top: 80px
    @include maxcom
        top: 180px
    @include maxcom-1920
        width: 65%
        left: 17.5%
        top: 200px
.indComic02-frame04
    opacity: 1
    margin: 0 auto
    margin-bottom: 12px
    text-align: left
    @include ipad
    @include computer
        width: 40%
        position: absolute
        z-index: 1
        top: 460px
    @include maxcom
        width: 500px
        top: 520px
    @include maxcom-1920
        width: 560px
        top: 540px
.indComic02-frame04--text
    padding: 50px 22px 30px 35px
    font:
        size: $text-16
        weight: 500
    color: $black
    letter-spacing: 0.5px
    line-height: 1.7
    @include ipad
        font:
            size: $text-18
        padding: 60px 50px 40px 50px
    @include computer
    @include maxcom
        font:
            size: $text-20
        padding: 50px 100px 50px 60px
    @include maxcom-1920
        font:
            size: $text-22
        padding: 60px 80px 55px 80px
.indComic02-frame05
    opacity: 1
    margin: 0 auto
    margin-bottom: 12px
    text-align: left
    background: url(../images/ele06.svg) no-repeat
    background-position: center
    background-size: cover
    @include ipad
    @include computer
        width: 40%
        position: absolute
        z-index: 1
        top: 460px
        right: 60px
    @include maxcom
        width: 500px
        top: 520px
    @include maxcom-1920
        width: 560px
        top: 540px
        right: 160px
.indComic02-frame05--text
    padding: 30px 22px 30px 35px
    font:
        size: $text-16
        weight: 500
    color: #FFF
    letter-spacing: 0.5px
    line-height: 1.7
    @include ipad
        font:
            size: $text-18
        padding: 40px 50px 40px 50px
    @include computer
        padding: 60px 50px 40px 50px
    @include maxcom
        font:
            size: $text-20
        padding: 50px 60px 50px 100px
    @include maxcom-1920
        font:
            size: $text-22
        padding: 60px 80px 55px 90px
.indComic02-bg01
    width: 700px
    position: absolute
    z-index: -1
    right: -500px
    top: 100px
    @include ipad
        width: 800px
        right: -600px
        top: 70px
    @include maxcom-1920
        width: 930px
        right: -640px
        top: 340px
.indComic02-bg02
    width: 700px
    position: absolute
    z-index: -1
    left: -500px
    top: 550px
    @include ipad
        width: 800px
        position: absolute
        z-index: -1
        left: -440px
        top: 400px
    @include maxcom-1920
        width: 930px
        left: -15px
        top: 940px
.indComic02-bg03
    position: absolute
    z-index: -2
    width: 750px
    left: -500px
    top: 380px
    @include ipad
        top: 280px
    @include maxcom-1920
        width: 1020px
        left: -230px
        top: 680px

//保險新手區
.indqaBk
    width: 100%
    position: relative
    z-index: 3
    margin-top: 20px
    // padding-bottom: 80px
    @include computer
        margin-top: 70px
    @include maxcom
        margin-top: 240px
        padding-bottom: 130px
.indqaBk-tit
    width: 270px
    position: relative
    z-index: 3
    right: -80px
    top: 35px
    opacity: 0
    @include ipad
        width: 380px
        right: -220px
    @include computer
        top: 150px
        right: -350px
    @include maxcom
        position: absolute
        top: -150px
        right: 50px
    @include maxcom-1920
        width: 440px
        right: 100px
        top: -140px
        // width: 460px
.indqaBk-listBk
    width: 100%
    @include maxcom
        width: 760px
        float: right
    @include maxcom
        margin-right: 240px
    @include maxcom-1920
        margin-right: 340px
        margin-top: 0px
.indqaBk-listStyle
    background: #FFF
    text-align: left
    border: 2px solid $main-color
    // border-right: none
    display: block
    position: relative
    padding: 20px 20px 20px 30px
    font:
        size: $text-18
        weight: 500
    letter-spacing: 0.5px
    line-height: 1.6
    margin-top: -2px
    @include ipad
        // padding: 30px 30px 30px 40px
        font:
            size: $text-22
    @include maxcom
        padding: 25px 25px 25px 40px
        font:
            size: $text-24
    &:hover
        color: $main-color
.indqaBk-listStyle--number
    width: 23px
    height: 23px
    background: $main-color
    position: absolute
    top: 0
    left: 0
    line-height: 20px
    text-align: center
    font:
        size: $text-12
        weight: 500
    color: #fff
.indqaBk-listStyle--starEle01
    display: none
    @include maxcom
        opacity: 0
        display: block
        width: 28px
        position: absolute
        top: -120px
        right: -30px
.indqaBk-listStyle--starEle02
    display: none
    @include maxcom
        opacity: 0
        display: block
        width: 32px
        position: absolute
        top: 50px
        left: 290px
.indqaBk-listStyle--starEle03
    display: none
    @include maxcom
        opacity: 0
        display: block
        width: 27px
        position: absolute
        bottom: 0px
        left: 600px
.indqaBk-listStyle--diaEle01
    display: none
    @include maxcom
        opacity: 0
        display: block
        width: 180px
        position: absolute
        left: 40px
        top: 120px
.indqaBk-listStyle--diaEle02
    display: none
    @include maxcom
        display: block
        width: 160px
        position: absolute
        left: 0px
        top: 235px
.indqaBk-listStyle--diaEle03
    display: none
    @include maxcom
        display: block
        width: 170px
        position: absolute
        right: 210px
        bottom: 30px
.indqaBk-listStyle--diaEle04
    display: none
    @include maxcom
        display: block
        width: 190px
        position: absolute
        right: 150px
        bottom: 0px

//理賠案例
.indCaseBk
    width: 100%
    position: relative
    z-index: 3
    padding: 0 15px
    @include ipad
        padding: 0 40px
    @include maxcom
        padding: 0 0px
