/*loghtbox 模組*/
/* Unopened modLightbox */
.modLightbox 
	display: none
	transform: all 1s linear
	opacity: 0
/* Opened modLightbox */
.modLightbox:target
	opacity: 1 
	position: fixed
	z-index: 7
	left: 0
	top: 0
	width: 100%
	height: 100vh
	display: flex
	align-items: center
	justify-content: center
	background: rgba(74,74,74,0.7)
/* modLightbox content */
.modLightbox-contentBk
	width: calc(100vw - 40px)
	height: 80vh
	background: rgba(254,246,195,1)
	border-radius: 20px
	// overflow: hidden
	@include maxcom
		width: 500px
.modLightbox-content 
	width: 100%
	height: 80vh
	// overflow-y: auto
	overflow: hidden
	position: relative
	z-index: 8
/* Close button */
.modLightbox-close 
	position: relative
	display: block
.modLightbox-close 
	&::after 
		right: 10px
		top: 17px
		width: 40px
		height: 40px
		position: absolute
		display: flex
		z-index: 9
		align-items: center
		justify-content: center
		// background-color: $main-color
		// border-radius: 50%
		color: $black
		content: "✕"
		cursor: pointer
/* modLightbox overlay */
.modLightbox-close
	&::before 
		left: 0
		top: 0
		width: 100%
		height: 100%
		position: fixed
		content: ""
		cursor: default

/*回頁面最上方*/
.modTopBtBk
	position: fixed
	bottom: 10px
	right: 20px
	z-index: 3
	display: none
	@include maxcom
		display: block
		bottom: 20px
		right: 30px
	// opacity: 0
	&:hover
		transform: translateY(-15px) 
.modTopBt
	width: 40px
	