// 各頁面
// articleli.php
.pagArtli-biteBk
    @include computer
        position: absolute
        z-index: 3
        top: 220px
    @include maxcom
    @include maxcom-1920
        top: 300px
        left: 20px
.pagArtliList--latestLabel
    position: absolute
    z-index: 3
    top: -50px
    right: 0px
    width: 120px
    @include ipad
        width: 180px
        right: 0
        top: 30px
    @include computer
        width: 160px
        right: 500px
        top: 80px
    @include maxcom-1920
        width: 200px
        right: 540px
        top: 90px
.pagArtliListBk
    width: 100%
    margin: 0 auto
    position: relative
    .eleArticleList.eleArticleList--latest
        width: 100%
        margin: 70px 0 
        padding: 0px
        @include computer
            margin: 70px 0 220px 0
        @include maxcom
            margin: 70px 0 200px 0
        @include maxcom-1920
            margin: 70px 0 240px 0
        .eleArticleList-label
            margin-bottom: 30px
        .eleArticleList-imgBk
            position: relative
            z-index: 2
            width: 100%  
            left: -35px
            top: 0
            @include ipad          
                left: -60px
            @include computer
                width: 58.5%
                top: 80px
            @include maxcom
                width: 65%
                left: -100px
            @include maxcom-1920
                width: 940px
                left: 20px
                top: 80px
        .eleArticleList-textBk
            position: relative
            z-index: 1
            margin-top: -40px
            padding: 70px 25px 40px 35px
            background: $main-color-50
            border: 2px solid $main-color
            border-right: none
            width: calc(100% + 35px)
            @include ipad          
                width: calc(100% + 60px)
                padding: 80px 60px 60px 60px
            @include computer
                width: 70%
                position: absolute
                right: -60px
                top: 100px
                // padding: 100px 60px 90px 200px
                min-height: 470px
                padding: 20px 50px 0px 280px
                display: flex
                flex-direction: column
                justify-content: center
            @include maxcom
                width: 60%
                right: -100px
                padding: 120px 100px 100px 240px
                top: 100px
            @include maxcom-1920
                width: 980px
                right: -160px
                // padding: 160px 280px 130px 240px
                min-height: 680px
                padding: 20px 220px 0px 320px
                top: 100px
        .eleArticleList-textBk--tit
            @include ipad
            @include maxcom
                font: 
                    size: $text-30
        .eleArticleList-textBk--date
            @include ipad
            @include maxcom-1920
                margin: 30px 0
        .eleArticleList-textBk--text
            color: $black
            line-height: 2
            @include maxcom
                font: 
                    size: $text-20


// articlein.php
.pagArtinBannerBk
    margin: 100px auto 0 auto
    @include ipad
        margin: 140px auto 0px auto
    @include computer
        // margin: 140px auto 180px auto
.pagArtinBanner-artInfo
    text-align: center
    margin-bottom: 30px
    @include ipad
        margin-bottom: 50px
    @include maxcom
        // width: 800px
        width: 900px
        // margin: 140px auto 50px auto
        margin: 135px auto 50px auto
.pagArtinBanner-artInfo--label
    margin-bottom: 20px
    @include ipad
        margin-bottom: 25px
.pagArtinBanner-artInfo--tit
    margin-bottom: 20px
    @include ipad
        margin-bottom: 20px
.pagArtinBanner-Banner
    width: 100%
    @include maxcom
        width: 1200px
.pagArtinBannerBk-biteBk
    display: none
    @include computer
        display: block
        position: relative
        left: 0px
        bottom: 100px
    @include maxcom
        left: 160px
.pagArtinTextBk
    width: 100%
    margin: 40px auto
    @include computer
        margin: -30px auto 0px auto
    @include maxcom
        width: 60em
.pagArtinDownloadBk
    margin: 60px auto

//qali.php
.pagQali-biteBk
    @include computer
        position: absolute
        z-index: 3
        top: 220px
    @include maxcom
    @include maxcom-1920
        top: 300px
        left: 20px
.pagQaListBk
    width: 100%
    margin-bottom: 60px
    @include computer
        margin: 50px 0px 60px 0px
    @include maxcom
        width: 80%
        position: relative
        z-index: 1
        left: 20%
        margin: 45px 0px 90px 240px
    @include maxcom-1920
        margin: 45px 0px 90px 240px
.pagQaListBk-listStyle
    background: $main-color-50
    text-align: left
    border: 2px solid $main-color
    display: block
    position: relative
    padding: 20px 20px 20px 30px
    font:
        size: $text-18
        weight: 500
    letter-spacing: 0.5px
    line-height: 1.6
    margin-top: -2px
    &:hover
        color: $main-color
    @include ipad
        font:
            size: $text-22
    @include maxcom
        padding: 25px 25px 25px 40px
        font:
            size: $text-24
    @include maxcom
        padding: 25px 180px 25px 40px
.pagQaListBk-listStyle--number
    width: 23px
    height: 23px
    background: $main-color
    position: absolute
    top: 0
    left: 0
    line-height: 20px
    text-align: center
    font:
        size: $text-12
        weight: 500
    color: #fff


//qain.php
.pagQain-bg
    position: absolute
    width: 100%
    height: 220px
    background: $main-color-50
    z-index: 3
    @include ipad
        height: 270px
    @include computer
    @include maxcom
        height: 330px
.pagQainBannerBk
    margin: 100px auto 0 auto
    position: relative
    @include ipad
        margin: 200px auto 0px auto
    @include computer
        margin: 160px 0 60px 0
        display: flex
        align-content: stretch
        align-items: stretch
    @include maxcom
        margin: 210px 0 60px 0
.pagQainBannerBk-biteBk
    display: none
    @include computer
        display: block
        position: relative
        top: 0px
    @include maxcom-1920
        width: 650px
.pagQainBanner-artInfo
    text-align: center
    width: 100%
    border: 2px solid $main-color
    background: #FFF
    padding: 20px 25px
    text-align: center
    margin-bottom: 30px
    @include ipad
        margin-bottom: 0px
    @include computer
        width: calc(100% - 440px)
        padding: 30px 40px
        display: flex
        align-items: center
        justify-content: center
        margin-left: -2px
    @include maxcom
        padding: 40px 50px
    @include maxcom-1920
        width: calc(100% - 650px)
.pagQainBanner-artInfo--tit
    font:
        size: $text-24
        weight: 700
    @include ipad
        font:
            size: $text-34
            weight: 700
        line-height: 1.5
.pagQainBannerBk-ele01
    display: none
    @include computer
        display: block
        position: absolute
        z-index: 4
        top: 140px
        left: 220px 
        width: 100px
    @include maxcom
        width: 120px
        top: 160px
        left: 280px 
    @include maxcom-1920
        top: 180px
        left: 340px 
.pagQainBannerBk-ele02
    display: none
    @include ipad
        display: block
        position: absolute
        z-index: 4
        width: 140px
        top: -100px
        right: 0px 
    @include computer
        top: -80px
        right: 20px 
    @include maxcom
        width: 180px
        top: -100px
        right: 20px 
    @include maxcom-1920
        // width: 180px
        top: -110px
        right: 60px 
.pagQainTextBk
    margin: 20px 0 60px 0
    @include computer
        // width: 960px
        float: right
        margin: 0 0 60px 0


//videoli.php
//影音列表樣式
.pagVideoliListBk
    @include computer
        margin-bottom: 150px
.pagVideoli-biteBk
    @include computer
        position: absolute
        z-index: 3
        top: 220px
    @include maxcom
    @include maxcom-1920
        top: 300px
        left: 20px
.pagVideoliList--latestLabel
    position: absolute
    z-index: 3
    top: -50px
    right: 0px
    width: 120px
    @include ipad
        width: 180px
        right: 0px
        top: -30px
    @include computer
        right: 440px
        top: 80px
    @include maxcom
        right: 460px
    @include maxcom-1920
        width: 200px
        right: 560px
        top: 90px
//第一個影片列表
.pagVideoList--latest
    position: relative
    width: 100%
    margin: 70px 0 
    padding: 0px
    @include computer
        margin: 10px 0 260px 0
    @include maxcom
    @include maxcom-1920
.pagVideoList-imgBk--latest
    display: block
    position: relative
    z-index: 2
    width: 100%  
    left: -35px
    top: 0
    @include ipad          
        left: -60px
    @include computer
        width: 62%
        top: 167px
    @include maxcom
        width: 62%
        left: -100px
    @include maxcom-1920
        width: 1000px
        left: 20px
        top: 135px
    &:hover,&:active
        transform: scale(1.03)
.pagVideoList-textBk--latest
    position: relative
    z-index: 1
    margin-top: -40px
    padding: 70px 25px 40px 35px
    background: $main-color-50
    border: 2px solid $main-color
    border-right: none
    width: calc(100% + 35px)
    @include ipad          
        width: calc(100% + 60px)
        padding: 80px 60px 60px 60px
    @include computer
        width: 64%
        position: absolute
        right: -60px
        top: 100px
        // padding: 100px 60px 90px 220px
        min-height: 510px
        padding: 10px 60px 0px 240px
        display: flex
        flex-direction: column
        justify-content: center
    @include maxcom
        width: 65%
        right: -100px
        min-height: 600px
        padding: 140px 100px 100px 260px
        top: 100px
    @include maxcom-1920
        width: 1000px
        right: -160px
        min-height: 700px
        // padding: 160px 240px 130px 300px
        padding: 30px 200px 0px 360px
        top: 100px
//一般影片列表
.pagVideoList
    position: relative
    width: 100%
    margin: 0 0 70px 0 
    padding: 0px
    @include ipad          
    @include computer
        margin: 0px 0 80px 0
    @include maxcom
    @include maxcom-1920
.pagVideoList-imgBk
    display: block
    position: relative
    z-index: 2
    width: 100%  
    top: 0
    @include ipad          
    @include computer
        position: absolute
        width: 55%
        top: 130px
        left: 0px
    @include maxcom
        width: 50%
        top: 200px
    @include maxcom-1920
        width: 53%
        top: 120px
        left: 20px
    &:hover,&:active
        transform: scale(1.03)
.pagVideoList-textBk
    position: relative
    z-index: 1
    padding: 40px 25px 40px 35px
    background: #FFF
    border: 2px solid $main-color
    @include ipad          
        margin-top: 0px
        padding: 60px 60px 60px 60px
    @include computer
        width: 60%
        position: relative
        right: -42.5%
        top: 50px
        min-height: 420px
        padding: 0px 40px 0px 220px
        display: flex
        flex-direction: column
        justify-content: center
    @include maxcom
        width: 65%
        right: -35%
        top: 100px
        padding: 0px 100px 0px 300px
        min-height: 540px
    @include maxcom-1920
        width: 60%
        right: -39%
        top: 60px
        padding: 0px 160px 0px 380px
        min-height: 600px
.pagVideoList-imgBk--videoBt
    position: absolute
    bottom: 0px
    right: 0px
    width: 50px
    @include ipad          
        width: 90px
        bottom: 0px
        right: 0px
    @include computer       
        width: 90px
        bottom: 0px
        right: 0px
    @include maxcom-1920       
        width: 140px
        right: 0px
        bottom: 0px
        // left: 0px
.pagVideoList-textBk--label
    margin-bottom: 30px
.pagVideoList-textBk--tit
    display: block
    width: 100%
    letter-spacing: 0.5px
    padding: 0 2px
    font:
        size: $text-18
    margin-bottom: 12px
    // min-height: 70px
    // @include lineClamp(2)
    @include ipad
        font:
            size: $text-22
        margin-bottom: 20px
    @include maxcom
        // min-height: 90px
        font: 
            size: $text-30
    &:hover,&:active
        color: $main-color
.pagVideoList-textBk--date
    font:
        size: $text-15
        family: $text-style-en           
    color: $main-color
    @include ipad
        font:
            size: $text-18
    @include maxcom-1920
            margin: 30px 0
.pagVideoList-textBk--text
    margin-top: 25px
    letter-spacing: 0.5px
    line-height: 2
    color: $black
    font:
        size: $text-16
    @include lineClamp(3)
    @include computer
    @include maxcom
        font: 
            size: $text-20
    
//videoin.php
.pagVideoinBannerBk
    position: relative
    margin: 100px auto 0 auto
    @include ipad
        margin: 140px auto 0px auto
    @include computer
        margin: 140px auto 300px auto
    @include maxcom
        width: 1200px
.pagVideoinBannerBk-VideoBk
    width: 100%
    @include maxcom
        // width: 1200px
        margin: 0 auto
.pagVideoinBannerBk-biteBk
    display: none
    @include computer
        display: block
        position: absolute
        top: auto
        margin-top: 40px
    @include maxcom-1920
        left: 0px
.pagVideoinTextBk
    width: 100%
    margin: 40px auto
    @include computer
        // margin: 140px auto 60px auto
    @include maxcom
        width: 60em
        padding: 20px 0 0 0

//about.php
.pagAbout-biteBk
    @include ipad
    @include computer
        // width: 440px
        // padding: 30px 40px
    @include maxcom
        // width: 35%
        // padding: 40px 50px
        // float: left
    @include maxcom-1920
        width: 540px
        // top: 300px
        // left: 20px


// .pagAboutSidebarBk
//     display: none
//     @include maxcom
//         display: block
//         position: absolute
//         z-index: 1
//         top: 320px
//         left: 0px
//         padding: 120px 60px 40px 100px
