//網站框架
.patLoadingBg
	width: 100%
	height: 100vh
	position: absolute
	z-index: 3
	text-align: center
	display: flex
	align-content: center
	align-items: center
	flex-wrap: wrap
	background: $main-color-50 url(../images/bannerBg.svg) no-repeat
	justify-content: center
	background-size: cover
	background-position: center

// .patLoadingBg
// 	width: 100%
// 	height: 100vh
// 	position: fixed
// 	z-index: 3
// 	text-align: center
// 	display: flex
// 	align-content: center
// 	align-items: center
// 	flex-wrap: wrap
// 	background: $main-color-50 
	// object-fit: fill

.patLoadingBg-ele
	// width: 100%
	// height: auto
	// object-fit: fill
	// object-position: 50% 50%
	// position: absolute
	// top: 0
	// left: 0
	

.patLoadingBg-logoLink
	&:hover,&:active
		img
			transition: all 0.5s ease
			transform: scale(1.1)
.patLoadingBg-logo
	width: 220px
	opacity: 0
	position: fixed
	z-index: 5
	left: calc(50% - 110px)
	top: calc(50vh - 60px)
	@include ipad
		// width: 260px
		left: calc(50% - 120px)
		top: calc(50vh - 80px)
.patLoadingBg-logo--page
	width: 110px
	opacity: 1
	position: fixed
	z-index: 4
	top: 15px
	left: 20px
	@include ipad
		width: 180px
		top: 30px
		left: 30px
	@include maxcom
		width: 200px
		top: 40px
		left: 100px
		z-index: 5
	@include maxcom-1920
		width: 220px
		top: 40px
		left: 130px
	
.patLoadingBg-ele01
	width: 140px
	opacity: 0
	position: fixed
	z-index: 5
	left: 58%
	top: 27%
	transform: scale(0.0)
	@include iphone
		left: 58%
		top: 29%
	@include ipad
		width: 190px
		left: 58%
		top: 29%
	@include maxcom
		left: 54%
		top: 29%
.patLoadingBg-aniBk
	width: 100%
	// height: 22px
	text-align: center
	padding: 0 12px 0 0
.patLoadingBg-aniBk--dot
	width: 25px
	height: 25px
	background: #FFF
	margin: 0 5px
	border-radius: 50%
	display: inline-block
	opacity: 1
	transform: scale(0)
.patLoadingBg-aniBk--dot--none
	opacity: 0
	transform: scale(1)


//手機板導覽列
//手機視口header
.patSmlHeader
	width: 100%
	height: 50px
	position: fixed
	top: 0
	left: 0
	z-index: 6
	opacity: 0
	@include maxcom
		display: none
.patSmlHeader-logo
	display: inline-block
	margin: 10px auto 0 20px
	img
		width: 160px
.patSmlHeader-navbt
	width: 50px
	height: 50px
	// margin: 15px 15px 0 0
	cursor: pointer
	float: right
	position: relative
	// background: $main-color
	background: $black
.patSmlHeader-navbt--icon
	width: 22px
	left: 14px
	height: 3px
	position: absolute
	background: #FFF
	transition: all 0.5s ease-in-out
.patSmlHeader-navbt--icon01
	top: 18px
	transition: all 0.5s ease-in-out
.patSmlHeader-navbt--icon02
	top: 28px
	transition: all 0.3s ease-in-out
.patSmlHeader-navbt--icon01--rotate
	transform: rotate(-45deg)
	top: 23px
	// transition: all 0.5s ease-in-out
.patSmlHeader-navbt--icon02--rotate
	transform: rotate(45deg)
	top: 23px
	// transition: all 0.5s ease-in-out
	


//手機視口navgation
.patSmlNav
	// display: none
	opacity: 0
	width: 320px
	height: 100%
	position: fixed
	top: 0px
	right: -320px
	z-index: 5
	overflow-y: auto
	padding: 30px 0 
	background: $main-color
.patSmlNav-closeBt
	width: 30px 
	height: 30px
	position: absolute
	right: 20px
	top: 20px
	cursor: pointer
.patSmlNav-layer
	background: $black
	opacity: 0
	width: 100vw
	height: 100vh
	position: fixed
	z-index: -1
	left: 0
	top: 0

	
// /*全域導覽列連結--兩層式結構*/
.patLevelArea
	width: 100%
.patLevelArea-firstLink
	width: 100%
	display: block
	height: auto
	// line-height: 46px
	font:
		weight: 500
		size: $text-17
	line-height: 1.7
	transition: all 0.1s ease-out
	letter-spacing: 1px
	position: relative
	color: #FFF
	// margin-bottom: 20px
	padding: 0 0 20px 40px
	// text-shadow: 0px 0px 20px 10px rgba(255,255,255,0.8)
.patLevelArea-secondLinkArea
	display: none
	padding: 0px 20px 15px 75px
	// background: $main-color-100
	// margin-bottom: 20px
	.patLevelArea-secondLinkArea--link
		display: block
		font:
			weight: 500
			size: $text-16
		line-height: 1.6
		padding: 0px 0px 12px 0
		letter-spacing: 0.5px
		// text-align: center
		cursor: pointer
		color: $main-color-100



//header
//電腦版header
.patheaderBk
	position: fixed
	top: 0
	width: 100%
	z-index: 4
	justify-content: center
	flex-wrap: nowrap
	display: none
	padding: 40px 0 0 0
	transition: all 0.5s ease-in-out
	@include maxcom
		display: flex
		opacity: 0
// .patheaderBk-logo
// 	width: 303px
// 	display: block
// 	&:hover
// 		img
// 			opacity: 0.5
// .patheaderBk-linkBk
// 	width: calc(100% - 303px )
// 	display: flex
// 	justify-content: flex-end
.patheaderLevelArea
	position: relative
.patheaderLevelArea-firstlink
	min-width: 190px
	padding: 0 30px 10px 30px
	display: block
	font:
		size: $text-20
		weight: 500
	color: $black
	letter-spacing: 1px
	text-align: center
	// line-height: 20px
	.icon
		display: inline-block
		margin-left: 12px
		vertical-align: -6px
		transition: all 0.5s linear
	&:hover,&:active
		color: $main-color
.patheaderLevelArea-secondLinkArea
	display: none
	width: 260px
	position: absolute
	top: 50px
	left: 30px
	padding: 20px 15px 10px 12px
	// background: $main-color-50
	background: #FFF
	// border: 2px solid $black
	border: 2px solid $main-color
	// border-radius: 3px
.patheaderLevelArea-secondLinkArea--link
	display: block
	font:
		weight: 500
		size: $text-18
	line-height: 1.7
	padding: 0px 0px 15px 0
	letter-spacing: 0.5px
	cursor: pointer
	color: $black
	mark
		color: $main-color
		// background: $main-color-50
		background: #FFF
		padding: 0 10px 0 0
	&:hover,&:active
		color: $main-color
//變換顏色
.patheaderBk--scrollStyle
	background: rgba(255,255,255,1)
	width: 100%
	height: 90px
	padding: 30px 0 0 0
	transition: all 0.5s ease-in-out


//footer
.patFooter
	width: 100%
	text-align: center
	padding: 80px 0
.patFooter-logo
	width: 230px
	display: inline-block
	&:hover,&:active
		transform: scale(1.1) 
.patFooter-infoBk
	margin: 50px 0 80px 0px
	text-align: center
	line-height: 1.7
.patFooter-infoBk--copyRight
	letter-spacing: 0.5px
	color: $text-gray-400
	font:
		size: $text-15
		family: $text-style-en
.patFooter-infoBk--design
	letter-spacing: 0.5px
	font:
		size: $text-15
		family: $text-style-en
	color: $main-color
	&:hover,&:active
		box-shadow: inset 0 -3em $main-color
		color: #FFF
		padding: 3px 5px
		mark
			color: #FFF
	mark
		box-shadow: inset 0 -0.03em $main-color
		color: $main-color
		background: none
		transition: all 0.5s linear
		padding: 2px 5px
.patFooter-mediaBk
	display: flex
	flex-wrap: nowrap
	justify-content: center
	align-items: center
.patFooter-mediaBk--btStyle
	width: 68px
	height: 68px
	border-radius: 50%
	background: $main-color
	margin: 0 8px
	display: block
	display: flex
	justify-content: center
	&:hover,&:active
		transform: scale(1.05)
	img
		text-align: center
		width: 38px

//內頁模板
.patPageRedWhiteBg
	width: 100%
	height: 100vh
	background: $main-color-50
	position: absolute
	z-index: 10
	
.patPageContentWidth
	width: 100%
	padding: 0px 35px 0 35px
	overflow: hidden
	position: relative
	z-index: 3
	@include ipad
		padding: 0px 60px 0 60px
	@include computer
		padding: 0px 60px 0 60px
	@include maxcom
		padding: 0px 100px 0 100px
	@include maxcom-1920
		padding: 0px 0px 0px 0px

//頁面上部漫畫及標題模板
.patPageBannerBk
	position: relative
	z-index: 1
.patPageBanner-bg
	width: 540px
	position: absolute
	z-index: -1
	left: 40px
	top: 100px
	@include ipad
		width: 800px
		left: 0px
		top: 120px
	@include computer
		left: 200px
		top: 140px
	@include maxcom-1920
		width: 930px
		left: 300px
		top: 190px
//頁面上部漫畫
.patPageComic
	width: 100%
	position: relative
	padding: 40px 0 0 0
	line-height: 0
	@include ipad
		padding: 60px 0 0 0
	@include computer
		width: 70%
		left: 30%
		padding: 50px 0 0 0
	@include maxcom-1920
		padding: 40px 0 0 0
	
.patPageComic-img
	width: 240px
	position: relative
	z-index: 1
	margin-left: calc(50% - 100px)
	@include ipad
		width: 340px
		margin-left: calc(50% - 170px)
	@include computer
		margin-left: calc(50% - 100px)
		top: 70px
	@include maxcom-1920
		width: 510px
		margin-left: calc(50% - 120px)
.patPageComic-diaStyle
	display: inline-block
	width: auto
	padding: 10px 12px
	background: #FFF
	border: 3px solid $black
	font:
		size: $text-12
		weight: 500
	letter-spacing: 0.5px
	line-height: 1.5
	@include ipad
		font:
			size: $text-18
		padding: 15px 25px
	@include computer
	@include maxcom
		font:
			size: $text-20
	@include maxcom-1920
		font:
			size: $text-24
		line-height: 1.7
		padding: 25px 40px
		
.patPageComic-diaStyle--style01
	position: absolute
	z-index: 2
	top: 120px
	left: -10px
	@include ipad
		top: 170px
		left: 0px
	@include computer
		left: 60px
		top: 100px
	@include maxcom-1920
		top: 240px
		left: 170px
.patPageComic-diaStyle--style02
	position: absolute
	z-index: 2
	top: 200px
	right: -10px
	@include ipad
		top: 270px
		right: 0px
	@include computer
		top: 340px
		right: 0px
	@include maxcom-1920
		top: 460px
		right: 20px

//內頁頁面
//頁面上半紅底
.patRedTop-bg
	position: absolute
	width: 100%
	height: 220px
	background: $main-color-50
	z-index: 3
	@include ipad
		height: 270px
	@include computer
	@include maxcom
		height: 370px

.patPageTitBiteBk
	width: 100%
	border: 2px solid $main-color
	background: #FFF
	padding: 20px 25px
	@include ipad
	@include computer
		width: 440px
		padding: 30px 40px
	@include maxcom
		padding: 40px 50px
	@include maxcom-1920
		width: 540px
		
.patPageTitBiteBk--twoColumn
	margin: 100px auto 60px auto
	position: relative
	z-index: 2
	@include ipad
		margin: 160px auto 60px auto
	@include computer
	@include maxcom
		width: 440px
		margin: 250px 0 0px 0
		float: left
	@include maxcom-1920
		width: 540px
	
//頁面兩欄式框架
.patTwoColumnBk
	display: flex
	flex-wrap: wrap
	flex-direction: column-reverse
	align-items: flex-start
	@include maxcom
		width: 100%
		flex-direction: row
.patTwoColumnBk-contentBk
	margin: 0 0 80px 0
	@include maxcom
		width: calc(100% - 440px)
		margin: -340px 0 80px 0
		padding-left: 60px
	@include maxcom-1920
		width: calc(100% - 540px)
		padding-left: 140px
//左側欄位樣式
.patTwoColumnBk-sidebarBk
	width: 100%
	background: $main-color
	padding: 10px 30px 10px 30px
	@include maxcom
		width: 440px
		padding: 20px 50px 20px 50px
		margin-top: 20px
	@include maxcom-1920
		width: 540px
		padding: 20px 40px 20px 50px
.patSidebarBk-tit
	color: $main-color-200
	@include maxcom
		display: none
.patSidebarBk-link
	display: flex
	justify-content: center
	padding: 20px 0 15px 0
	border-bottom: 1px solid $main-color-400
	&:hover,&:active
		.patSidebarBk-link--tit
			color: #FFF
	&:last-of-type
		border-bottom: none
.patSidebarBk-link--number
	width: 50px
	font:
		size: $text-24
		family: $text-style-en
	color: $main-color-400
.patSidebarBk-link--tit
	width: calc(100% - 50px)
	color: $main-color-100
	line-height: 1.7
	letter-spacing: 0.5px
	transition: all 0.5s linear
	font:
		size: $text-18
	@include maxcom
		font:
			size: $text-20
.patSidebarBk-link--active
	.patSidebarBk-link--number
		color: $main-color-200
	.patSidebarBk-link--tit
		color: #FFF
