/*文編內容*/
.textBk
	width: 100%
	margin: 0 auto
	@include maxcom
		width: 60em
// img
// 	position: relative
// 	z-index: 1
// img::after
// 	content: attr(title)
// 	position: relative
// 	z-index: 2
// 	bottom: 50px
// 	left: 0px
// 	width: 100%
// 	display: block
// 	background: $main-color
// 	font:
// 		size: $text-15
// 		weight: 500
// 	color: $text-gray
// 	line-height: 1.5
.textBk
	// display: flex
	// flex-wrap: wrap
	// flex-direction: column
	// align-items: center
	th
		text-align: left
	caption
		text-align: left
	a
		display: inline-block
		width: auto
		color: $main-color
		font:
			size: $text-20
			weight: 500
		line-height: 1.8
		padding: 15px 0
		border-bottom: 2px dashed $main-color-600
		@include ipad
			font:
				size: $text-24
		&::before
			content: "📢"
			padding: 0 12px 0 0
			text-decoration: auto
			font:
				style: normal
		&:hover
			color: $black
	img
		width: 100% !important
		height: auto !important
		margin: 30px 0
	// img備註
	.imgHeading
		font:
			size: $text-15
			weight: 500
		color: $text-gray
		line-height: 1.5
		margin-bottom: 30px
	h1,h2,h3,h4,h5,h6,p
		width: 100%
		line-height: 2
		font-weight: 500
		margin: 20px 0
	h1,h2,h3
		font-weight: 700
	div
		font:
			size: $text-20
			weight: 400
		line-height: 2
		@include ipad
			font:
				size: $text-24
				weight: 400
			line-height: 2.2
	p
		font:
			size: $text-20
			weight: 400
		line-height: 2
		@include ipad
			font:
				size: $text-24
				weight: 400
			line-height: 2.2
	// Summary摘要區
	.sumBk
		width: 100%
		margin: 30px 0
		// text-align: center
		border: 2px solid $main-color
		background: #FFF
		padding: 20px 25px
		line-height: 2
		letter-spacing: 0.5px
		color: $black
		font:
			size: $text-20
			family: $text-style
			weight: 500
		@include ipad
			font:
				size: $text-24
			padding: 40px 50px
		@include computer
		@include maxcom
			// font:
			// 	size: $text-24
		@include maxcom-1920
	//Paragraph heading 段落標題
	.parHeadingBk
		width: 100%
		margin: 30px 0
		// text-align: center
		border: 2px solid $main-color
		background: $main-color-50
		padding: 20px 25px
		line-height: 2
		letter-spacing: 0.5px
		color: $black
		font:
			size: $text-20
			family: $text-style
			weight: 500
		@include ipad
			font:
				size: $text-24
			padding: 40px 50px
		@include computer
		@include maxcom
		@include maxcom-1920
	// conclusion結論區
	.conBk
		// background: $main-color url(../images/ele06.svg) no-repeat
		// background-position: center
		// background-size: cover
		background: $main-color
		width: 100%
		margin: 30px 0
		// text-align: center
		border: 2px solid $main-color
		padding: 20px 25px
		line-height: 2
		letter-spacing: 0.5px
		color: #FFF
		font:
			size: $text-20
			family: $text-style
			weight: 500
		@include ipad
			font:
				size: $text-22
			padding: 40px 50px
		@include computer
		@include maxcom
			font:
				size: $text-24
		@include maxcom-1920
	.conBk--02
		// background: url(../images/con-bg--white.svg) no-repeat
		// background-position: center
		// background-size: cover
		background: #FFF
		width: 100%
		margin: 30px 0
		// text-align: center
		border: 2px solid $main-color
		padding: 20px 25px
		line-height: 2
		letter-spacing: 0.5px
		color: $black
		font:
			size: $text-20
			family: $text-style
			weight: 500
		@include ipad
			font:
				size: $text-22
			padding: 40px 50px
		@include computer
		@include maxcom
			font:
				size: $text-24
		@include maxcom-1920
	// related 相關文章
	.relLink
		display: block
		font:
			size: $text-20
			weight: 500
		color: $main-color
		text-decoration: underline
		line-height: 1.8
		@include ipad
			font:
				size: $text-24