/*文字相關設定*/
/*文字單行+nowrap*/
@mixin typoNowrap
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap


/*文字基本設定*/
@mixin typoBasic
	font:
		family: $text-style
		size: $text-16
		weight: 500
	color: $black
	line-height: 1.6
	letter-spacing: 0.5px

/*文字基本設定--標題英文*/
// @mixin typoBasic-enTit
// 	font:
// 		family: 'Lateef', cursive
// 		weight: normal
// 	color: $black


h1,h2,h3,h4,h5,h6
	margin: 0 0 0 0	

h1
	@include typoBasic
	letter-spacing: 0px
	font:
		size: $text-24
		weight: 700
	@include ipad
		font:
			size: $text-48
			weight: 700
		line-height: 1.5
	@include computer
		font:
			size: $text-60
			weight: 700
		


h2
	@include typoBasic
	font:
		size: $text-34
		weight: 700
	letter-spacing: 1px
	// @include ipad
	// 	font:
	// 		size: $text-96
	// @include computer
	// @include maxcom
	// @include maxcom-1920
	// 	font:
	// 		size: $text-132
		
h3
	@include typoBasic
	font:
		size: $text-24
		weight: 500
	letter-spacing: 0px
	// @include ipad
	// @include computer
	// @include maxcom
	// 	font:
	// 		size: $text-24
	// @include maxcom-1920
	// 	font:
	// 		size: $text-30
	// 	letter-spacing: 1.2px


h4
	@include typoBasic
	font:
		size: $text-20
		weight: 500
	// letter-spacing: 1px
	@include ipad
	@include computer
	@include maxcom
	@include maxcom-1920

h5
	@include typoBasic
	font:
		size: $text-18
		weight: 500
	// letter-spacing: 0.5px
	// @include ipad
	// @include computer
	// @include maxcom
	// @include maxcom-1920
	// .icon
	// 	vertical-align: -2px
	// 	display: inline !important
	// 	width: auto !important

h6
	@include typoBasic
	font:
		size: $text-20
		weight: 400
	letter-spacing: 0px
	// @include ipad
	// @include computer
	// @include maxcom
	// @include maxcom-1920

h6.typoEntit
	@include typoBasic
	font:
		size: $text-15
		weight: 300
	letter-spacing: 0px


p
	@include typoBasic
	font:
		size: $text-20
		weight: 400
	line-height: 2

		


.typo-chTit
	@include typoBasic
	font:
		size: $text-24
	letter-spacing: 1px
	@include ipad
		font:
			size: $text-34
		letter-spacing: 1.5px
	@include computer
	@include maxcom
	@include maxcom-1920
		font:
			size: $text-46


.typo-danger
	color: $color-danger

.typo-black
	color: $black 

.typo-underline
	text-decoration: underline

.typo-textAlignCenter
	text-align: center